{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}


<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>
</form>


{% endblock %}
