{% for message in messages %}
    <div class="alert {{ message.tags }} icons-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="icofont icofont-close-line-circled"></i>
        </button>
        <p><strong>{{ message.extra_tags }}!</strong> {{ message }} </p>  {#    <code></code>#}
    </div>
{% endfor %}
