/*Form Wizard Content Issue*/

.wizard .content {
    min-height: 100px;
}
.wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: absolute;
}
.wizard .content .body.current {
    position: relative;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}



/*DATA TABLES Visibility*/
div.dt-button-collection a.dt-button.active:not(.disabled) {
    background-color: #01c2c5!important;
    border-color: #01a9ac!important;
}

div.dt-button-collection a.dt-button.buttons-columnVisibility:hover {
    background-color: rgba(209, 172, 86, 0.76) !important;
    border-color: #786530 !important;
}

div.dt-button-collection a.dt-button:not(.disabled) {
    background-color: #b6b6b6 !important;
    border-color: #e0e0e0 !important;
}

div.dt-button-collection a.dt-button.buttons-columnVisibility.active:hover {
    background-color: #0d23c5 !important;
    border-color: #786530 !important;
}


.social-profile {
    margin: 0!important;
    width: 20%!important;
    height: auto!important;
}



.card {
    margin-bottom: 10px!important;
}

/*.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {*/
     /*padding-right: 10px!important;*/
     /*padding-left: 10px!important;*/
/*}*/

.card .card-header {
    padding: 10px 20px 10px 20px;
}

.md-tabs .nav-item a {
    padding: 0 0 5px 0!important;
}

.tab-icon {
     margin-bottom: 0 !important;
}


.card .card-header span {
    /*margin-top: -10px!important;*/
    margin-right: 10px!important;
}

.main-body .page-wrapper {
    padding: 0 1.8rem !important;
}

.main-body .page-wrapper .page-header {
    margin-bottom: -10px!important;
}


hr {
     margin-top: 0.3rem!important;
     margin-bottom: 0.3rem!important;
}

.card-block {
    padding: 0.50rem 1.25rem!important;
}

.sub-title {
    margin-bottom: 0!important;
}

.card-header-right {
     top: 10px!important;
     padding: 0!important;
}

/*div.dt-buttons {*/
    /*margin-bottom: 10px;*/
/*}*/

.social-profile:hover {
    width: 50%!important;
    height: auto!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.25!important;
}


.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 15px!important;
    width: 10px!important;
}

/*.truncate-1, .truncate-2 {*/
  /*max-width:6em;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
/*}*/

/*.truncate {*/
  /*max-width:6em;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
/*}*/


/*.truncate-3em {*/
  /*max-width:3em;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*!*text-overflow: ellipsis;*!*/
/*}*/


.truncate-subject {
  max-width:35em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.truncate-from {
  max-width:10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*PROFILE CSS*/
.user-img {
    height: 100px;
}











/* ******************** CKEDITOR 5 CSS ******************************* */


/*!*.ck.ck-content ul,*!*/
/*!*.ck.ck-content ul li{*!*/
  /*!*list-style-type: inherit;*!*/
/*!*}*!*/

/*!*.ck.ck-content ul {*!*/
  /*!*!* Default user agent stylesheet, you can change it to your needs. *!*!*/
  /*!*padding-left: 40px;*!*/
/*!*}*!*/

/*table {*/
    /*width: 100%!important;*/
/*}*/



/*#signature {*/
    /*margin: 0;*/
    /*width: 100%;*/
/*}*/

/*.document-editor {*/
    /*border: 1px solid var(--ck-color-base-border);*/
    /*border-radius: var(--ck-border-radius);*/

    /*!* Set vertical boundaries for the document editor. *!*/
    /*height: 9cm;*/

    /*!* This element is a flex container for easier rendering. *!*/
    /*display: flex;*/
    /*flex-flow: column nowrap;*/
/*}*/
/*.document-editor__toolbar {*/
    /*!* Make sure the toolbar container is always above the editable. *!*/
    /*z-index: 1;*/

    /*!* Create the illusion of the toolbar floating over the editable. *!*/
    /*box-shadow: 0 0 5px hsla( 0,0%,0%,.2 );*/

    /*!* Use the CKEditor CSS variables to keep the UI consistent. *!*/
    /*border-bottom: 1px solid var(--ck-color-toolbar-border);*/
/*}*/

/*!* Adjust the look of the toolbar inside the container. *!*/
/*.document-editor__toolbar .ck-toolbar {*/
    /*border: 0;*/
    /*border-radius: 0;*/
/*}*/
/*!* Make the editable container look like the inside of a native word processor application. *!*/
/*.document-editor__editable-container {*/
    /*padding: calc( 2 * var(--ck-spacing-large) );*/
    /*background: var(--ck-color-base-foreground);*/

    /*!* Make it possible to scroll the "page" of the edited content. *!*/
    /*overflow-y: scroll;*/
/*}*/

/*.document-editor__editable-container .ck-editor__editable {*/
    /*!* Set the dimensions of the "page". *!*/
    /*width: 15.8cm;*/
    /*!*min-height: 21cm;*!*/
    /*min-height: 6.5cm;*/

    /*!* Keep the "page" off the boundaries of the container. *!*/
    /*!*padding: 1cm 2cm 2cm;*!*/

    /*border: 1px hsl( 0,0%,82.7% ) solid;*/
    /*border-radius: var(--ck-border-radius);*/
    /*background: white;*/

    /*!* The "page" should cast a slight shadow (3D illusion). *!*/
    /*box-shadow: 0 0 5px hsla( 0,0%,0%,.1 );*/

    /*!* Center the "page". *!*/
    /*margin: 0 auto;*/
/*}*/
/*!* Set the default font for the "page" of the content. *!*/
/*.document-editor .ck-content,*/
/*.document-editor .ck-heading-dropdown .ck-list .ck-button__label {*/
    /*font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*}*/
/*!* Adjust the headings dropdown to host some larger heading styles. *!*/
/*.document-editor .ck-heading-dropdown .ck-list .ck-button__label {*/
    /*line-height: calc( 1.7 * var(--ck-line-height-base) * var(--ck-font-size-base) );*/
    /*min-width: 6em;*/
/*}*/

/*!* Scale down all heading previews because they are way too big to be presented in the UI.*/
/*Preserve the relative scale, though. *!*/
/*.document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {*/
    /*transform: scale(0.8);*/
    /*transform-origin: left;*/
/*}*/

/*!* Set the styles for "Heading 1". *!*/
/*.document-editor .ck-content h2,*/
/*.document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {*/
    /*font-size: 2.18em;*/
    /*font-weight: normal;*/
/*}*/

/*.document-editor .ck-content h2 {*/
    /*line-height: 1.37em;*/
    /*padding-top: .342em;*/
    /*margin-bottom: .142em;*/
/*}*/

/*!* Set the styles for "Heading 2". *!*/
/*.document-editor .ck-content h3,*/
/*.document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {*/
    /*font-size: 1.75em;*/
    /*font-weight: normal;*/
    /*color: hsl( 203, 100%, 50% );*/
/*}*/

/*.document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {*/
    /*color: var(--ck-color-list-button-on-text);*/
/*}*/

/*!* Set the styles for "Heading 2". *!*/
/*.document-editor .ck-content h3 {*/
    /*line-height: 1.86em;*/
    /*padding-top: .171em;*/
    /*margin-bottom: .357em;*/
/*}*/

/*!* Set the styles for "Heading 3". *!*/
/*.document-editor .ck-content h4,*/
/*.document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {*/
    /*font-size: 1.31em;*/
    /*font-weight: bold;*/
/*}*/

/*.document-editor .ck-content h4 {*/
    /*line-height: 1.24em;*/
    /*padding-top: .286em;*/
    /*margin-bottom: .952em;*/
/*}*/

/*!* Set the styles for "Paragraph". *!*/
/*.document-editor .ck-content p {*/
    /*font-size: 1em;*/
    /*line-height: 1.63em;*/
    /*padding-top: .5em;*/
    /*margin-bottom: 1.13em;*/
/*}*/
/*!* Make the block quoted text serif with some additional spacing. *!*/
/*.document-editor .ck-content blockquote {*/
    /*font-family: Georgia, serif;*/
    /*margin-left: calc( 2 * var(--ck-spacing-large) );*/
    /*margin-right: calc( 2 * var(--ck-spacing-large) );*/
/*}*/



/* Empty Row bug */
.dataTables_scrollBody thead tr[role="row"]{
    visibility: collapse !important;
}



/*#history-table-server {*/
  /*margin: 0 auto;*/
  /*clear: both;*/
  /*width: 100%;*/
  /*table-layout: fixed;*/
/*}*/
@media screen and (max-width: 640px) {
    div.dt-buttons {
        text-align: left!important;
    }
    div.dt-buttons a {
        width: 100%;
    }
}

@media only screen and (max-width: 573px){
  .nav-tabs .nav-link {
     text-align: left!important;
  }
}

@media only screen and (max-width: 640px) {
    .custom-button-row {
        margin-bottom: 5px;
        width: 100%;
    }
    .page-header-breadcrumb {
        margin-top: -40px!important;
    }

}


.radio-inline {
     margin-right: 0;
}