
<!-- Modal large-->
<div class="modal fade" id="follow-up-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form id="follow-up-form" action="javascript:void(0);">
                <div class="modal-header">
                    <h4 class="modal-title" id="follow-up-modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-subject" class="block">Subject *</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <input id="follow-up-subject" name="subject" type="text" class="form-control" required>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-customer" class="block">Customer</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <select class="email-filter-ajax col-sm-12" id="follow-up-customer" required>
                                    <option value="" selected="selected">Select Customer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-type" class="block">Type *</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <select class="form-control " id="follow-up-type" required>
                                    <option value="1">Phone Call</option>
                                    <option value="2">Email</option>
                                    <option value="3">rr</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-assignee" class="block">Assigned to *</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <select class="email-filter-ajax col-sm-12" id="follow-up-assignee" required>
                                    <option value="" selected="selected">Select One</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-status" class="block">Status *</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <select class="form-control" id="follow-up-status" required>
                                    <option value="1">Open</option>
                                    <option value="2">Close</option>
                                    <option value="3">Close & Reschedule</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-due-datetime" class="block">Due DateTime*</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <input type="datetime-local" class="form-control" name="follow-up-due-datetime" id="follow-up-due-datetime" required>
{#                                <input type="datetime" class="form-control" name="follow-up-due-datetime" id="follow-up-due-datetime" required>#}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-notes" class="block">Notes*</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <textarea class="form-control" id="follow-up-notes" required></textarea>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-impressions" class="block">Impressions</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <textarea class="form-control" id="follow-up-impressions"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 col-lg-2">
                                <label for="follow-up-commands" class="block">Commands</label>
                            </div>
                            <div class="col-md-4 col-lg-4">
                                <textarea class="form-control" id="follow-up-commands"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- record-loader start -->
                    <div class="preloader3 loader-block" id="follow-up-form-loader" style="height: 5em; display: none;">
                        <div class="circ1 loader-primary"></div>
                        <div class="circ2 loader-primary"></div>
                        <div class="circ3 loader-primary"></div>
                        <div class="circ4 loader-primary"></div>
                    </div>
                    <!-- record-loader end -->

                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <input type="submit" id="follow-up-submit" class="btn btn-primary waves-effect waves-light "
                           value="Save changes"/>
                </div>
            </form>
        </div>
    </div>
</div>
