

{#<div class="masonry-image">#}
{#    <div class="default-grid ">#}
{#        <div class="row lightboxgallery-popup">#}
{#            <div class="grid" id="gallery-grid">#}
{#                                <figure class="effect-kira">#}
{#                                    <img src="https://via.placeholder.com/780x520?text=File 1" alt="img17" />#}
{#                                    <figcaption>#}
{#                                        <h2><span></span></h2>#}
{#                                        <p>#}
{#                                            <a href="#"><i class="fa fa-fw fa-clipboard"></i></a>#}
{#                                            <a href="#"><i class="fa fa-fw fa-trash"></i></a>#}
{#                                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>#}
{#                                            <a href="#"><i class="fa fa-fw fa-share"></i></a>#}
{#                                        </p>#}
{#                                    </figcaption>#}
{#                                </figure>#}
{#            </div>#}
{#                            <div class="col-sm-3 default-grid-item">#}
{#                                <div class="masonry-media">#}
{#                                <figure class="effect-kira">#}
{#                                    <img src="https://via.placeholder.com/780x520?text=File 1" alt="img17" />#}
{#                                    <figcaption>#}
{#                                        <h2>Dark <span>Kira</span></h2>#}
{#                                        <p>#}
{#                                            <a href="#"><i class="fa fa-fw fa-clipboard"></i></a>#}
{#                                            <a href="#"><i class="fa fa-fw fa-trash"></i></a>#}
{#                                            <a href="#"><i class="fa fa-fw fa-heart"></i></a>#}
{#                                            <a href="#"><i class="fa fa-fw fa-share"></i></a>#}
{#                                        </p>#}
{#                                    </figcaption>#}
{#                                </figure>#}
{#                                </div>#}
{#                            </div>#}

{#        </div>#}
{#    </div>#}
{#</div>#}

<br>
<div class="row">
  <div class="column" id="col-0">
{#    <figure class="effect-kira">#}
{#        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">#}
{#        <figcaption style="margin-top: -57%;">#}
{#            <h2><span></span></h2>#}
{#            <p>#}
{#                <a href="#"><i class="fa fa-fw fa-clipboard"></i></a>#}
{#                <a href="#"><i class="fa fa-fw fa-trash"></i></a>#}
{#            </p>#}
{#        </figcaption>#}
{#    </figure>#}

{#    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">#}
  </div>
  <div class="column" id="col-1">
{#    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">#}
  </div>
  <div class="column" id="col-2">
{#    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">#}
  </div>
  <div class="column" id="col-3">
{#    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">#}
{#    <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">#}
  </div>
</div>

<input type="text" id="image_url" style="opacity:0;" value="" title="URL of the image">
