
<!-- Modal large-->
{#                    <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#edit-user-Modal">Large</button>#}
<div class="modal fade" id="edit-user-Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="user-modal-title">Edit User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="wizard">
                            <section>
                                <form class="wizard-form" id="edit-user-form" action="#">
                                    <h3> Contact Details </h3>
                                    <fieldset class="support-view-mode">
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="email" class="block">E-mail *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="email" name="email" type="email" class="required form-control" readonly>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="company_name" class="block">Company Name*</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="company_name" name="company_name" type="text" class="required form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="language" class="block">Language *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="language">
                                                  <option value="AF">Afrikanns</option>
                                                  <option value="SQ">Albanian</option>
                                                  <option value="AR">Arabic</option>
                                                  <option value="HY">Armenian</option>
                                                  <option value="EU">Basque</option>
                                                  <option value="BN">Bengali</option>
                                                  <option value="BG">Bulgarian</option>
                                                  <option value="CA">Catalan</option>
                                                  <option value="KM">Cambodian</option>
                                                  <option value="ZH">Chinese (Mandarin)</option>
                                                  <option value="HR">Croation</option>
                                                  <option value="CS">Czech</option>
                                                  <option value="DA">Danish</option>
                                                  <option value="NL">Dutch</option>
                                                  <option value="EN" selected>English</option>
                                                  <option value="ET">Estonian</option>
                                                  <option value="FJ">Fiji</option>
                                                  <option value="FI">Finnish</option>
                                                  <option value="FR">French</option>
                                                  <option value="KA">Georgian</option>
                                                  <option value="DE">German</option>
                                                  <option value="EL">Greek</option>
                                                  <option value="GU">Gujarati</option>
                                                  <option value="HE">Hebrew</option>
                                                  <option value="HI">Hindi</option>
                                                  <option value="HU">Hungarian</option>
                                                  <option value="IS">Icelandic</option>
                                                  <option value="ID">Indonesian</option>
                                                  <option value="GA">Irish</option>
                                                  <option value="IT">Italian</option>
                                                  <option value="JA">Japanese</option>
                                                  <option value="JW">Javanese</option>
                                                  <option value="KO">Korean</option>
                                                  <option value="LA">Latin</option>
                                                  <option value="LV">Latvian</option>
                                                  <option value="LT">Lithuanian</option>
                                                  <option value="MK">Macedonian</option>
                                                  <option value="MS">Malay</option>
                                                  <option value="ML">Malayalam</option>
                                                  <option value="MT">Maltese</option>
                                                  <option value="MI">Maori</option>
                                                  <option value="MR">Marathi</option>
                                                  <option value="MN">Mongolian</option>
                                                  <option value="NE">Nepali</option>
                                                  <option value="NO">Norwegian</option>
                                                  <option value="FA">Persian</option>
                                                  <option value="PL">Polish</option>
                                                  <option value="PT">Portuguese</option>
                                                  <option value="PA">Punjabi</option>
                                                  <option value="QU">Quechua</option>
                                                  <option value="RO">Romanian</option>
                                                  <option value="RU">Russian</option>
                                                  <option value="SM">Samoan</option>
                                                  <option value="SR">Serbian</option>
                                                  <option value="SK">Slovak</option>
                                                  <option value="SL">Slovenian</option>
                                                  <option value="ES">Spanish</option>
                                                  <option value="SW">Swahili</option>
                                                  <option value="SV">Swedish </option>
                                                  <option value="TA">Tamil</option>
                                                  <option value="TT">Tatar</option>
                                                  <option value="TE">Telugu</option>
                                                  <option value="TH">Thai</option>
                                                  <option value="BO">Tibetan</option>
                                                  <option value="TO">Tonga</option>
                                                  <option value="TR">Turkish</option>
                                                  <option value="UK">Ukranian</option>
                                                  <option value="UR">Urdu</option>
                                                  <option value="UZ">Uzbek</option>
                                                  <option value="VI">Vietnamese</option>
                                                  <option value="CY">Welsh</option>
                                                  <option value="XH">Xhosa</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="title" class="block">Title *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="title">
                                                    <option value="Mr.">Mr.</option>
                                                    <option value="Mrs">Mrs.</option>
                                                    <option value="Ms.">Ms.</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="first_name" class="block">First Name *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="first_name" name="first_name" type="text" class="required form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="last_name" class="block">Last Name *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="last_name" name="last_name" type="text" class="required form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="password" class="block">Password</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="password" name="password" placeholder="Leave blank if don't want to change" type="password" class="form-control" autocomplete>
                                                <!-- An element to toggle between password visibility -->
                                                <input type="checkbox" id="shw_pswd" onclick="show_password()">
                                                <label for="shw_pswd">Show Password</label>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="confirm-2" class="block">Confirm Password</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="confirm-2" name="confirm" placeholder="Leave blank if don't want to change" type="password" class="form-control" autocomplete>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="country" class="block">Country *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="country">
                                                    <option value="AFG">Afghanistan</option>
                                                    <option value="ALA">Åland Islands</option>
                                                    <option value="ALB">Albania</option>
                                                    <option value="DZA">Algeria</option>
                                                    <option value="ASM">American Samoa</option>
                                                    <option value="AND">Andorra</option>
                                                    <option value="AGO">Angola</option>
                                                    <option value="AIA">Anguilla</option>
                                                    <option value="ATA">Antarctica</option>
                                                    <option value="ATG">Antigua and Barbuda</option>
                                                    <option value="ARG">Argentina</option>
                                                    <option value="ARM">Armenia</option>
                                                    <option value="ABW">Aruba</option>
                                                    <option value="AUS">Australia</option>
                                                    <option value="AUT">Austria</option>
                                                    <option value="AZE">Azerbaijan</option>
                                                    <option value="BHS">Bahamas</option>
                                                    <option value="BHR">Bahrain</option>
                                                    <option value="BGD">Bangladesh</option>
                                                    <option value="BRB">Barbados</option>
                                                    <option value="BLR">Belarus</option>
                                                    <option value="BEL">Belgium</option>
                                                    <option value="BLZ">Belize</option>
                                                    <option value="BEN">Benin</option>
                                                    <option value="BMU">Bermuda</option>
                                                    <option value="BTN">Bhutan</option>
                                                    <option value="BOL">Bolivia, Plurinational State of</option>
                                                    <option value="BES">Bonaire, Sint Eustatius and Saba</option>
                                                    <option value="BIH">Bosnia and Herzegovina</option>
                                                    <option value="BWA">Botswana</option>
                                                    <option value="BVT">Bouvet Island</option>
                                                    <option value="BRA">Brazil</option>
                                                    <option value="IOT">British Indian Ocean Territory</option>
                                                    <option value="BRN">Brunei Darussalam</option>
                                                    <option value="BGR">Bulgaria</option>
                                                    <option value="BFA">Burkina Faso</option>
                                                    <option value="BDI">Burundi</option>
                                                    <option value="KHM">Cambodia</option>
                                                    <option value="CMR">Cameroon</option>
                                                    <option value="CAN">Canada</option>
                                                    <option value="CPV">Cape Verde</option>
                                                    <option value="CYM">Cayman Islands</option>
                                                    <option value="CAF">Central African Republic</option>
                                                    <option value="TCD">Chad</option>
                                                    <option value="CHL">Chile</option>
                                                    <option value="CHN">China</option>
                                                    <option value="CXR">Christmas Island</option>
                                                    <option value="CCK">Cocos (Keeling) Islands</option>
                                                    <option value="COL">Colombia</option>
                                                    <option value="COM">Comoros</option>
                                                    <option value="COG">Congo</option>
                                                    <option value="COD">Congo, the Democratic Republic of the</option>
                                                    <option value="COK">Cook Islands</option>
                                                    <option value="CRI">Costa Rica</option>
                                                    <option value="CIV">Côte d'Ivoire</option>
                                                    <option value="HRV">Croatia</option>
                                                    <option value="CUB">Cuba</option>
                                                    <option value="CUW">Curaçao</option>
                                                    <option value="CYP">Cyprus</option>
                                                    <option value="CZE">Czech Republic</option>
                                                    <option value="DNK">Denmark</option>
                                                    <option value="DJI">Djibouti</option>
                                                    <option value="DMA">Dominica</option>
                                                    <option value="DOM">Dominican Republic</option>
                                                    <option value="ECU">Ecuador</option>
                                                    <option value="EGY">Egypt</option>
                                                    <option value="SLV">El Salvador</option>
                                                    <option value="GNQ">Equatorial Guinea</option>
                                                    <option value="ERI">Eritrea</option>
                                                    <option value="EST">Estonia</option>
                                                    <option value="ETH">Ethiopia</option>
                                                    <option value="FLK">Falkland Islands (Malvinas)</option>
                                                    <option value="FRO">Faroe Islands</option>
                                                    <option value="FJI">Fiji</option>
                                                    <option value="FIN">Finland</option>
                                                    <option value="FRA">France</option>
                                                    <option value="GUF">French Guiana</option>
                                                    <option value="PYF">French Polynesia</option>
                                                    <option value="ATF">French Southern Territories</option>
                                                    <option value="GAB">Gabon</option>
                                                    <option value="GMB">Gambia</option>
                                                    <option value="GEO">Georgia</option>
                                                    <option value="DEU">Germany</option>
                                                    <option value="GHA">Ghana</option>
                                                    <option value="GIB">Gibraltar</option>
                                                    <option value="GRC">Greece</option>
                                                    <option value="GRL">Greenland</option>
                                                    <option value="GRD">Grenada</option>
                                                    <option value="GLP">Guadeloupe</option>
                                                    <option value="GUM">Guam</option>
                                                    <option value="GTM">Guatemala</option>
                                                    <option value="GGY">Guernsey</option>
                                                    <option value="GIN">Guinea</option>
                                                    <option value="GNB">Guinea-Bissau</option>
                                                    <option value="GUY">Guyana</option>
                                                    <option value="HTI">Haiti</option>
                                                    <option value="HMD">Heard Island and McDonald Islands</option>
                                                    <option value="VAT">Holy See (Vatican City State)</option>
                                                    <option value="HND">Honduras</option>
                                                    <option value="HKG">Hong Kong</option>
                                                    <option value="HUN">Hungary</option>
                                                    <option value="ISL">Iceland</option>
                                                    <option value="IND">India</option>
                                                    <option value="IDN">Indonesia</option>
                                                    <option value="IRN">Iran, Islamic Republic of</option>
                                                    <option value="IRQ">Iraq</option>
                                                    <option value="IRL">Ireland</option>
                                                    <option value="IMN">Isle of Man</option>
                                                    <option value="ISR">Israel</option>
                                                    <option value="ITA">Italy</option>
                                                    <option value="JAM">Jamaica</option>
                                                    <option value="JPN">Japan</option>
                                                    <option value="JEY">Jersey</option>
                                                    <option value="JOR">Jordan</option>
                                                    <option value="KAZ">Kazakhstan</option>
                                                    <option value="KEN">Kenya</option>
                                                    <option value="KIR">Kiribati</option>
                                                    <option value="PRK">Korea, Democratic People's Republic of</option>
                                                    <option value="KOR">Korea, Republic of</option>
                                                    <option value="KWT">Kuwait</option>
                                                    <option value="KGZ">Kyrgyzstan</option>
                                                    <option value="LAO">Lao People's Democratic Republic</option>
                                                    <option value="LVA">Latvia</option>
                                                    <option value="LBN">Lebanon</option>
                                                    <option value="LSO">Lesotho</option>
                                                    <option value="LBR">Liberia</option>
                                                    <option value="LBY">Libya</option>
                                                    <option value="LIE">Liechtenstein</option>
                                                    <option value="LTU">Lithuania</option>
                                                    <option value="LUX">Luxembourg</option>
                                                    <option value="MAC">Macao</option>
                                                    <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
                                                    <option value="MDG">Madagascar</option>
                                                    <option value="MWI">Malawi</option>
                                                    <option value="MYS">Malaysia</option>
                                                    <option value="MDV">Maldives</option>
                                                    <option value="MLI">Mali</option>
                                                    <option value="MLT">Malta</option>
                                                    <option value="MHL">Marshall Islands</option>
                                                    <option value="MTQ">Martinique</option>
                                                    <option value="MRT">Mauritania</option>
                                                    <option value="MUS">Mauritius</option>
                                                    <option value="MYT">Mayotte</option>
                                                    <option value="MEX">Mexico</option>
                                                    <option value="FSM">Micronesia, Federated States of</option>
                                                    <option value="MDA">Moldova, Republic of</option>
                                                    <option value="MCO">Monaco</option>
                                                    <option value="MNG">Mongolia</option>
                                                    <option value="MNE">Montenegro</option>
                                                    <option value="MSR">Montserrat</option>
                                                    <option value="MAR">Morocco</option>
                                                    <option value="MOZ">Mozambique</option>
                                                    <option value="MMR">Myanmar</option>
                                                    <option value="NAM">Namibia</option>
                                                    <option value="NRU">Nauru</option>
                                                    <option value="NPL">Nepal</option>
                                                    <option value="NLD">Netherlands</option>
                                                    <option value="NCL">New Caledonia</option>
                                                    <option value="NZL">New Zealand</option>
                                                    <option value="NIC">Nicaragua</option>
                                                    <option value="NER">Niger</option>
                                                    <option value="NGA">Nigeria</option>
                                                    <option value="NIU">Niue</option>
                                                    <option value="NFK">Norfolk Island</option>
                                                    <option value="MNP">Northern Mariana Islands</option>
                                                    <option value="NOR">Norway</option>
                                                    <option value="OMN">Oman</option>
                                                    <option value="PAK">Pakistan</option>
                                                    <option value="PLW">Palau</option>
                                                    <option value="PSE">Palestinian Territory, Occupied</option>
                                                    <option value="PAN">Panama</option>
                                                    <option value="PNG">Papua New Guinea</option>
                                                    <option value="PRY">Paraguay</option>
                                                    <option value="PER">Peru</option>
                                                    <option value="PHL">Philippines</option>
                                                    <option value="PCN">Pitcairn</option>
                                                    <option value="POL">Poland</option>
                                                    <option value="PRT">Portugal</option>
                                                    <option value="PRI">Puerto Rico</option>
                                                    <option value="QAT">Qatar</option>
                                                    <option value="REU">Réunion</option>
                                                    <option value="ROU">Romania</option>
                                                    <option value="RUS">Russian Federation</option>
                                                    <option value="RWA">Rwanda</option>
                                                    <option value="BLM">Saint Barthélemy</option>
                                                    <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
                                                    <option value="KNA">Saint Kitts and Nevis</option>
                                                    <option value="LCA">Saint Lucia</option>
                                                    <option value="MAF">Saint Martin (French part)</option>
                                                    <option value="SPM">Saint Pierre and Miquelon</option>
                                                    <option value="VCT">Saint Vincent and the Grenadines</option>
                                                    <option value="WSM">Samoa</option>
                                                    <option value="SMR">San Marino</option>
                                                    <option value="STP">Sao Tome and Principe</option>
                                                    <option value="SAU">Saudi Arabia</option>
                                                    <option value="SEN">Senegal</option>
                                                    <option value="SRB">Serbia</option>
                                                    <option value="SYC">Seychelles</option>
                                                    <option value="SLE">Sierra Leone</option>
                                                    <option value="SGP">Singapore</option>
                                                    <option value="SXM">Sint Maarten (Dutch part)</option>
                                                    <option value="SVK">Slovakia</option>
                                                    <option value="SVN">Slovenia</option>
                                                    <option value="SLB">Solomon Islands</option>
                                                    <option value="SOM">Somalia</option>
                                                    <option value="ZAF">South Africa</option>
                                                    <option value="SGS">South Georgia and the South Sandwich Islands</option>
                                                    <option value="SSD">South Sudan</option>
                                                    <option value="ESP">Spain</option>
                                                    <option value="LKA">Sri Lanka</option>
                                                    <option value="SDN">Sudan</option>
                                                    <option value="SUR">Suriname</option>
                                                    <option value="SJM">Svalbard and Jan Mayen</option>
                                                    <option value="SWZ">Swaziland</option>
                                                    <option value="SWE">Sweden</option>
                                                    <option value="CHE">Switzerland</option>
                                                    <option value="SYR">Syrian Arab Republic</option>
                                                    <option value="TWN">Taiwan, Province of China</option>
                                                    <option value="TJK">Tajikistan</option>
                                                    <option value="TZA">Tanzania, United Republic of</option>
                                                    <option value="THA">Thailand</option>
                                                    <option value="TLS">Timor-Leste</option>
                                                    <option value="TGO">Togo</option>
                                                    <option value="TKL">Tokelau</option>
                                                    <option value="TON">Tonga</option>
                                                    <option value="TTO">Trinidad and Tobago</option>
                                                    <option value="TUN">Tunisia</option>
                                                    <option value="TUR">Turkey</option>
                                                    <option value="TKM">Turkmenistan</option>
                                                    <option value="TCA">Turks and Caicos Islands</option>
                                                    <option value="TUV">Tuvalu</option>
                                                    <option value="UGA">Uganda</option>
                                                    <option value="UKR">Ukraine</option>
                                                    <option value="ARE">United Arab Emirates</option>
                                                    <option value="GBR">United Kingdom</option>
                                                    <option value="USA">United States</option>
                                                    <option value="UMI">United States Minor Outlying Islands</option>
                                                    <option value="URY">Uruguay</option>
                                                    <option value="UZB">Uzbekistan</option>
                                                    <option value="VUT">Vanuatu</option>
                                                    <option value="VEN">Venezuela, Bolivarian Republic of</option>
                                                    <option value="VNM">Viet Nam</option>
                                                    <option value="VGB">Virgin Islands, British</option>
                                                    <option value="VIR">Virgin Islands, U.S.</option>
                                                    <option value="WLF">Wallis and Futuna</option>
                                                    <option value="ESH">Western Sahara</option>
                                                    <option value="YEM">Yemen</option>
                                                    <option value="ZMB">Zambia</option>
                                                    <option value="ZWE">Zimbabwe</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="zip_code" class="block">Zip Code *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="zip_code" name="zip_code" type="text" class="required form-control zip_code">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="street" class="block">Street</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="street" name="street" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="city" class="block">City</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="city" name="city" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="region_state" class="block">Region/State</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="region_state" name="region_state" type="text" class="form-control">
{#                                                                    <select class="form-control required" id="region_state">#}
{#                                                                        <option value="">Select Region/State</option>#}
{#                                                                    </select>#}
                                            </div>
{#                                            <div class="col-md-2 col-lg-2">#}
{#                                                <label for="close_to_city" class="block">Close to City</label>#}
{#                                            </div>#}
{#                                            <div class="col-md-4 col-lg-4">#}
{#                                                <input id="close_to_city" name="close_to_city" type="text" class="form-control">#}
{#                                            </div>#}
                                            <div class="col-md-2 col-lg-2">
                                                <label for="mobile" class="block">Mobile *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input type="text" class="form-control phoneNumber required" name="mobile" id="mobile">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="tel" class="block">Tel</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input type="text" class="form-control phoneNumber" name="tel" id="tel">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="business_type" class="block">Business Type</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="business_type">
                                                    <option value="DW">Diamond Wholesaler</option>
                                                    <option value="JR">Jewellery Retailer</option>
                                                    <option value="JM">Jewellery Manufacturer</option>
                                                    <option value="OT">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="tel3" class="block">Tel3</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input type="text" class="form-control phoneNumber" name="tel3" id="tel3">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="birth_date" class="block">Birth Date</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="birth_date" name="birth_date" type="date" class="form-control date-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="skype_user" class="block">Skype User</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="skype_user" name="skype_user" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="web_site" class="block">Web Site</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="web_site" name="web_site" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="facebook" class="block">Facebook</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="facebook" name="facebook" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="qq" class="block">QQ</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="qq" name="qq" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="jbt" class="block">JBT</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="jbt" name="jbt" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="twitter" class="block">Twitter</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="twitter" name="twitter" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="ref_name" class="block">Ref. Name</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="ref_name" name="ref_name" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="ref_phone" class="block">Ref. Phone</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input type="text" class="form-control phoneNumber" name="ref_phone" id="ref_phone">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="whitesite_markup" class="block">WhiteSite Markup</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="whitesite_markup">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="vat" class="block">VAT</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="vat" name="vat" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </fieldset>
                                    <h3> System Details </h3>
                                    <fieldset class="support-view-mode">
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="street" class="block">Picture</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <div class="social-profile">
                                                    <img id="user_image" class="img-fluid width-100" src="/media/Images/User/default.png" alt="">
                                                    <div class="profile-hvr">
                                                        <a onclick="select_image(event)" role="button"><i class="icofont icofont-ui-edit"></i></a>
{#                                                                            <i class="icofont icofont-ui-delete"></i>#}
                                                    </div>
                                                    <input type="file" hidden="hidden" name="user_image"
                                                            onChange='change_image(event)' id="user_image_input"
                                                           accept="image/jpeg">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="user_type" class="block">Type *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control" id="user_type" onchange="user_type_callback(this.value)">
                                                    <option value="AD">Admin</option>
                                                    <option value="CU">Customer</option>
                                                    <option value="SM">Sales Manager</option>
                                                    <option value="SP">Sales Person</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">

                                                <label for="markup" class="block">Markup</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input class="form-control" type="number" name="markup" value="0" id="markup">
{#                                                <select id="markup">#}
{#                                                    <option value="0">0 (Default)</option>#}
{#                                                </select>#}
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="sales_person" class="block">Sales Person *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class=" form-control" id="sales_person" required="required">
                                                    <option value="">Select Sales Person</option>
                                                    {% for sales_person in sales_persons %}
                                                        <option value={{ sales_person.id }}>{{ sales_person.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="card_name" class="block">Card Name*</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="card_name" name="card_name" type="text" class="required form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
{#                                                                <div class="col-md-2 col-lg-2">#}
{#                                                                    <label for="sales_person" class="block">Sales Person</label>#}
{#                                                                </div>#}
{#                                                                <div class="col-md-4 col-lg-4">#}
{#                                                                    <select class="form-control required" id="sales_person">#}
{#                                                                        <option value="">Select Sales Person</option>#}
{#                                                                        {% for sales_person in sales_persons %}#}
{#                                                                            <option value={{ sales_person.id }}>{{ sales_person.username }}</option>#}
{#                                                                        {% endfor %}#}
{#                                                                    </select>#}
{#                                                                </div>#}
                                            <div class="col-md-2 col-lg-2">
                                                <label for="sales_manager" class="block">Sales Manager</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="sales_manager">
                                                    <option value="">Select Sales Manager</option>
                                                    {% for manager in managers %}
                                                        <option value={{ manager.id }}>{{ manager.username }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="user_status" class="block">User Status *</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="user_status">
                                                    <option value="AC">Active</option>
                                                    <option value="BL">Blocked</option>
                                                    <option value="RE">Requested</option>
                                                    <option value="1">Active</option>
                                                    <option value="3">Blocked</option>
                                                    <option value="4">Requested</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="customer_type" class="block">Customer Type</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control" id="customer_type">
                                                    <option value="">Select Type</option>
                                                    <option value="UN">Unproven</option>
                                                    <option value="PO">Potential</option>
                                                    <option value="CU">Customer</option>
                                                    <option value="VI">VIP Customer</option>
                                                    <option value="1">Unproven</option>
                                                    <option value="2">Potential</option>
                                                    <option value="3">Customer</option>
                                                    <option value="4">VIP Customer</option>
                                                    <option value="8">Travel</option>
                                                    <option value="12">Europe</option>
                                                    <option value="13">UnSubscribe</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="mass_email" class="block">Mass Email</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control" id="mass_email">
                                                    <option value=true>Yes (Default)</option>
                                                    <option value=false>No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">Show Suppliers</div>
                                            <div class="col-md-10 col-lg-10">
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="AMC" class="suppliers">
                                                    <label for="AMC">66</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary" hidden>
                                                    <input type="checkbox" id="ERAN" class="suppliers">
                                                    <label for="ERAN">ERAN</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary" hidden>
                                                    <input type="checkbox" id="EZ" class="suppliers">
                                                    <label for="EZ">EZ</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="GUTFRUND" class="suppliers">
                                                    <label for="GUTFRUND">9099</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="KIRAN" class="suppliers">
                                                    <label for="KIRAN">1007</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary" hidden>
                                                    <input type="checkbox" id="LSDCO_IL" class="suppliers">
                                                    <label for="LSDCO_IL">LSDCO_IL</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="SDE" class="suppliers">
                                                    <label for="SDE">1010</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="SRK" class="suppliers">
                                                    <label for="SRK">88</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="NIRU" class="suppliers">
                                                    <label for="NIRU">44</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">Sale Modules</div>
                                            <div class="col-md-10 col-lg-10">
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="Request" class="sale_modules">
                                                    <label for="Request">Request</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="Mazal" class="sale_modules">
                                                    <label for="Mazal">Mazal</label>
                                                </div>
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="dQuote" class="sale_modules">
                                                    <label for="dQuote">dQuote</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <h3> Professional Interest </h3>
                                    <fieldset class="support-view-mode">
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="data_source" class="block">Data Source</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control required" id="data_source">
                                                    <option value="Harmony">Harmony</option>
                                                    <option value="Fantasy">Fantasy</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="dept" class="block">Department</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <select class="form-control" id="dept">
                                                    <option value="Belgium">Belgium</option>
                                                    <option value="China">China</option>
                                                    <option value="France">France</option>
                                                    <option value="HK">HK</option>
                                                    <option value="USA">USA</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Israel">Israel</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="r1" class="block">R1</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="r1" name="r1" type="text" class="form-control">
                                            </div>

                                            <div class="col-md-2 col-lg-2">
                                                <label for="address_4" class="block">Address 4</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="address_4" name="address_4" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="fantasy_no" class="block">Fantasy No</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="fantasy_no" name="fantasy_no" type="text" class="form-control">
                                            </div>

                                            <div class="col-md-2 col-lg-2">
                                                <label for="harmony_no" class="block">Harmony No</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="harmony_no" name="harmony_no" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="comments" class="block">Comments</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <textarea class="form-control" id="comments"></textarea>
                                            </div>
                                            <div class="col-md-2 col-lg-2">Verified</div>
                                            <div class="col-md-4 col-lg-4">
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="verified">
                                                    <label for="verified"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <h3> Common Requests </h3>
                                    <fieldset class="support-view-mode">
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="anc_interest" class="block">ANC Interest</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <textarea class="form-control" id="anc_interest"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="shape_box" class="block">Shape Box</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="shape_box" name="shape_box" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="size_box" class="block">Size Box</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="size_box" name="size_box" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="color_box" class="block">Color Box</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="color_box" name="color_box" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="clarity_box" class="block">Clarity Box</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="clarity_box" name="clarity_box" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">
                                                <label for="lab_box" class="block">Lab Box</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="lab_box" name="lab_box" type="text" class="form-control">
                                            </div>
                                            <div class="col-md-2 col-lg-2">
                                                <label for="make_box" class="block">Make Bbox</label>
                                            </div>
                                            <div class="col-md-4 col-lg-4">
                                                <input id="make_box" name="make_box" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-lg-2">Download Excel</div>
                                            <div class="col-md-4 col-lg-4">
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="download_excel">
                                                    <label for="download_excel"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-lg-2">View Prices</div>
                                            <div class="col-md-4 col-lg-4">
                                                <div class="checkbox-color checkbox-primary">
                                                    <input type="checkbox" id="view_prices">
                                                    <label for="view_prices"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <h3> Conversations & Quotes </h3>
                                    <fieldset>
                                        <div class="dt-responsive table-responsive">
                                            <table id="follow-up-card-table" class="display nowrap compact" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Status</th>
                                                        <th>Type</th>
                                                        <th>Customer</th>
                                                        <th>Email</th>
                                                        <th>Date Created</th>
                                                        <th>Subject</th>
                                                        <th>Date Reminder</th>
                                                        <th title="Notes">Notes</th>
                                                        <th title="Impressions">Impressions</th>
                                                        <th title="Commands">Commands</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </fieldset>
                                </form>
                                <!-- record-loader start -->
                                <div class="preloader3 loader-block" id="edit-user-loader" style="height: 5em; display: none;">
                                    <div class="circ1 loader-primary"></div>
                                    <div class="circ2 loader-primary"></div>
                                    <div class="circ3 loader-primary"></div>
                                    <div class="circ4 loader-primary"></div>
                                </div>
                                <!-- record-loader end -->
                            </section>
                        </div>
                    </div>
                </div>
            </div>
{#                                <div class="modal-footer">#}
{#                                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>#}
{#                                    <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>#}
{#                                </div>#}
        </div>
    </div>
</div>

{% include "_add_followup_modal.html" %}
