{% extends 'base_users.html' %}
{% block title %}Admins{% endblock %}

{% block page_header %}all admins{% endblock %}
{% block page_desc %}list of all the admins{% endblock %}
{% block card_header %}Admins{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'admins' %}">Admins</a> </li>
{% endblock %}

