{% extends 'base.html' %}
{% block title %}All Users{% endblock %}

{% block content %}
    <div id="messages">
    </div>

    <!--Add buttons to initiate auth sequence and sign out-->
{#    <button id="authorize_button" style="display: none;">Authorize</button>#}
{#    <button id="signout_button" style="display: none;">Sign Out</button>#}

{#    <pre id="content" style="white-space: pre-wrap;"></pre>#}


    <!-- Page-header start -->
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-sm-6">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>{% block page_header %}All Users{% endblock %}</h4>
                        <span></span>

    {#                    <span>{% block page_desc %}List of all the users{% endblock %}</span>#}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        {% block breadcrumb %}
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                            </li>
                            <li class="breadcrumb-item"><a href="{% url 'users' %}">Users</a> </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->

    <div class="page-body">
        <div class="card email-card">
            {% include "_view_edit_user.html" %}

            <div class="card-block">
                <div class="row">
{#                    <div class="col-lg-12 col-xl-3">#}
{#                        <div class="user-head row">#}
{#                            <div class="user-face">#}
{#                                <img class="img-fluid" src="https://via.placeholder.com/150x40?text=LOGO" alt="Theme-Logo" />#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-xl-9">#}
{#                        <div class="mail-box-head row">#}
{#                            <div class="col-md-12">#}
{#                                <form class="f-right">#}
{#                                    <div class="right-icon-control">#}
{#                                        <input type="text" class="form-control  search-text" placeholder="Search" id="search-friends-2">#}
{#                                        <div class="form-icon">#}
{#                                            <i class="icofont icofont-search"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                </div>

{#                <div class="row seacrh-header">#}
{#                    <div class="col-lg-9 offset-lg-3">#}
{#                    </div>#}
{#                </div>#}

                <div class="row">

                    <div class="col-md-12 col-lg-3 col-xl-3">
                        <div class="user-body">
                            <div class="p-t-15 p-b-20">
                                <a href="{% url 'compose_email' %}" class="btn btn-success w-100">Compose</a>
                            </div>
                            <ul class="page-list nav nav-tabs flex-column">
                                <li class="nav-item mail-section">
                                    <a class="nav-link active" href="#" onclick="filter_messages('INBOX')">
                                        <i class="icofont icofont-inbox"></i> Inbox
{#                                        <span class="label label-primary f-right">6</span>#}
                                    </a>
                                </li>
                                <li class="nav-item mail-section">
                                    <a class="nav-link" href="#" onclick="filter_messages('SENT')">
                                        <i class="icofont icofont-paper-plane"></i> Sent
                                    </a>
                                </li>
                                <li class="nav-item mail-section">
                                    <a class="nav-link" href="#" onclick="filter_messages('DRAFT')">
                                        <i class="icofont icofont-file-text"></i> Drafts
                                    </a>
                                </li>
                                <li class="nav-item mail-section">
                                    <a class="nav-link" href="#" onclick="filter_messages('SPAM')">
                                        <i class="icofont icofont-exclamation-circle"></i> Spam
                                    </a>
                                </li>
                                <li class="nav-item mail-section">
                                    <a class="nav-link" href="#" onclick="filter_messages('TRASH')">
                                        <i class="icofont icofont-ui-delete"></i> Trash
{#                                       <span class="label label-info f-right">30</span>#}
                                    </a>
                                </li>
                                <li class="nav-item mail-section">
                                    <a class="nav-link" href="#" onclick="filter_messages('STARRED')">
                                        <i class="icofont icofont-star"></i> Starred
                                    </a>
                                </li>
                                <li class="nav-item mail-section">
                                    <a class="nav-link" href="#" onclick="filter_messages()">
                                        <i class="icofont icofont-plus-circle"></i> All Mail
                                    </a>
                                </li>
                            </ul>
                            <ul class="label-list" id="labels">
                                <li>
                                    <h5>Labels</h5>
                                </li>
{#                                <li class="nav-item mail-section">#}
{#                                    <a class="nav-link" href="#" onclick="filter_messages('STARRED')">#}
{#                                        <i class="icofont icofont-square"></i> Label#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a class="mail-work" href="#">Work</a>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-12 col-lg-9 col-xl-9">
                        <div class="mail-body-content">
                            <div class="input-group input-group-button input-group-primary mt-3 mb-0">
                                <input type="text" class="form-control" title="Email Search" id="email-search-query" placeholder="Search here...">
                                <button class="btn btn-primary input-group-addon"  onclick="search_threads()">Search</button>
                            </div>

                            {% block mail_content %}
                            {% endblock %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}