{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Diamonds Dashboard{% endblock %}</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="#">
    <meta name="keywords"
          content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="https://via.placeholder.com/20?text=ATQ" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/bootstrap/css/bootstrap.min.css' %}">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/icon/themify-icons/themify-icons.css' %}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/icon/icofont/css/icofont.css' %}">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/icon/font-awesome/css/font-awesome.min.css' %}">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/icon/feather/css/feather.css' %}">
    <!-- Select 2 css -->
    <link rel="stylesheet" href="{% static 'shared_static/bower_components/select2/css/select2.min.css' %}"/>
    <!-- Multi Select css -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'shared_static/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/multiselect/css/multi-select.css' %}"/>
    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/foo-table/css/jquery.dataTables.min.css' %}">
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">#}
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/data-table/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/data-table/extensions/select/css/select.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/data-table/extensions/buttons/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/data-table/extensions/responsive/css/responsive.dataTables.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.0/css/scroller.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.5.1/css/colReorder.dataTables.min.css">
    <!-- list css -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/list-scroll/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/stroll/css/stroll.css' %}">
    <!--forms-wizard css-->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/jquery.steps/css/jquery.steps.css' %}">
    <!-- Select 2 css -->
    <link rel="stylesheet" href="{% static 'shared_static/bower_components/select2/css/select2.min.css' %}"/>
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/css/jquery.mCustomScrollbar.css' %}">
    <!-- jquery file upload Frame work -->
    <link href="{% static 'shared_static/assets/pages/jquery.filer/css/jquery.filer.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'shared_static/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/scss"  href="{% static 'shared_static/_pcmenu.scss' %}">

    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/sweetalert/css/sweetalert.css' %}">
    <!-- animation nifty modal window effects css -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/css/component.css' %}">

    <link rel="stylesheet" type="text/css"  href="{% static 'shared_static/custom/custom_css.css' %}">
    <!-- Date-time picker css -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/advance-elements/css/bootstrap-datetimepicker.css' %}">
    <!-- Date-range picker css  -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/bootstrap-daterangepicker/css/daterangepicker.css' %}" />
    <!-- Date-Dropper css -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/datedropper/css/datedropper.min.css' %}" />

    <!-- print js -->
    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/print-js/dist/print.css' %}">
    <!-- hover-effect.css -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/custom/responsive_image_grid.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/hover-effect/normalize.css' %}">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/hover-effect/set2.css' %}">#}

</head>
<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">

                <div class="navbar-logo">
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:void(0)">
                        <i class="feather icon-menu"></i>
                    </a>
                    <a href="{% url 'home' %}">
                        <img class="img-fluid" src="https://via.placeholder.com/150x40?text=LOGO" alt="Theme-Logo" />
                    </a>
                    <a class="mobile-options">
                        <i class="feather icon-more-horizontal"></i>
                    </a>
                </div>

                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="feather icon-x"></i></span>
                                    <input type="text" class="form-control" title="">
                                    <span class="input-group-addon search-btn"><i class="feather icon-search"></i></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="toggleFullScreen()">
                                <i class="feather icon-maximize full-screen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        {% if user.is_authenticated %}

                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-bell"></i>
                                    <span class="badge bg-c-pink">5</span>
                                </div>
                            </div>
                        </li>
                        <li class="header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="displayChatbox dropdown-toggle" data-toggle="dropdown">
                                    <i class="feather icon-message-square"></i>
                                    <span class="badge bg-c-green">3</span>
                                </div>
                            </div>
                        </li>
                        <li class="user-profile header-notification">
                            <div class="dropdown-primary dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="https://via.placeholder.com/60" class="img-radius" alt="User-Profile-Image">
                                    <span>Hi {{ user.username }}!</span>
                                    <i class="feather icon-chevron-down"></i>
                                </div>
                                <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                    <li>
                                        <a href="{% url 'change_password' %}">
                                            <i class="feather icon-settings"></i> Change Password
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'user-profile' %}">
                                            <i class="feather icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="feather icon-mail"></i> My Messages
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="feather icon-lock"></i> Lock Screen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'logout' %}" onclick="logout_callback()">
                                            <i class="feather icon-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        {% else %}
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="{% url 'login' %}">
                                    <span class="pcoded-micon"><i class="feather icon-log-in"></i></span>
                                    <span class="pcoded-mtext">Login</span>
                                </a>
                            </li>
                        </ul>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">


                <nav class="pcoded-navbar">
                    <div class="pcoded-inner-navbar main-menu">
{#                        <div class="pcoded-navigatio-lavel">Navigation</div>#}
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="">
                                <a href="{% url 'home' %}">
                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                    <span class="pcoded-mtext">Dashboard</span>
                                </a>
                            </li>

                            <li class="pcoded-hasmenu {% if request.resolver_match.url_name == "diamonds" or request.resolver_match.url_name == "filter_diamonds" or request.resolver_match.url_name == "vendors" %}active pcoded-trigger{% endif %}">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-star"></i></span>
                                    <span class="pcoded-mtext">Diamonds</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="{% if request.resolver_match.url_name == "diamonds" or request.resolver_match.url_name == "filter_diamonds" %}active{% endif %}">
                                        <a href="{% url 'diamonds' %}">
                                            <span class="pcoded-mtext" >Stones</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "vendors" %}active{% endif %}">
                                        <a href="{% url 'vendors' %}">
                                            <span class="pcoded-mtext" >Vendors</span>
                                        </a>
{#                                        <ul class="pcoded-submenu">#}
{#                                            <li class="">#}
{#                                                <a href="javascript:void(0)">#}
{#                                                    <span class="pcoded-mtext" >Menu Level 3.1</span>#}
{#                                                </a>#}
{#                                            </li>#}
{#                                        </ul>#}
                                    </li>
                                </ul>
                            </li>

                            <li class="pcoded-hasmenu {% if request.resolver_match.url_name == "users" or request.resolver_match.url_name == "customers" or request.resolver_match.url_name == "sales_persons" or request.resolver_match.url_name == "sales_managers" or request.resolver_match.url_name == "admins" or request.resolver_match.url_name == "new_user" %}active pcoded-trigger{% endif %}">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                                    <span class="pcoded-mtext" >Users</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="{% if request.resolver_match.url_name == "users" %}active{% endif %}">
                                        <a href="{% url 'users' %}">
                                            <span class="pcoded-mtext" >All Users</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "customers" %}active{% endif %}">
                                        <a href="{% url 'customers' %}">
                                            <span class="pcoded-mtext" >Customers</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "sales_persons" %}active{% endif %}">
                                        <a href="{% url 'sales_persons' %}">
                                            <span class="pcoded-mtext" >Sales Persons</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "sales_managers" %}active{% endif %}">
                                        <a href="{% url 'sales_managers' %}">
                                            <span class="pcoded-mtext" >Sales Managers</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "admins" %}active{% endif %}">
                                        <a href="{% url 'admins' %}">
                                            <span class="pcoded-mtext" >Admin</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "new_user" %}active{% endif %}">
                                        <a href="{% url 'new_user' %}">
                                            <span class="pcoded-mtext" >New User </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="pcoded-hasmenu {% if request.resolver_match.url_name == "compose_email" or request.resolver_match.url_name == "email_templates"  or request.resolver_match.url_name == "mailboxes" %}active pcoded-trigger{% endif %}">
                                <a href="javascript:void(0)">
                                    <span class="pcoded-micon"><i class="feather icon-mail"></i></span>
                                    <span class="pcoded-mtext" >Emails</span>
                                </a>
                                <ul class="pcoded-submenu">
                                    <li class="{% if request.resolver_match.url_name == "mailboxes" %}active{% endif %}">
                                        <a href="{% url 'mailboxes' %}">
                                            <span class="pcoded-mtext" >Inbox</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "compose_email" %}active{% endif %}">
                                        <a href="{% url 'compose_email' %}">
                                            <span class="pcoded-mtext" >Compose Email</span>
                                        </a>
                                    </li>
                                    <li class="{% if request.resolver_match.url_name == "email_templates" %}active{% endif %}">
                                        <a href="{% url 'email_templates' %}">
                                            <span class="pcoded-mtext" >Email Templates</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            <li class="{% if request.resolver_match.url_name == "history" %}active{% endif %}">
                                <a href="{% url 'history' %}" class="">
                                    <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                                    <span class="pcoded-mtext">History</span>
                                </a>
                            </li>


                            <li class="{% if request.resolver_match.url_name == "follow-ups" %}active{% endif %}">
                                <a href="{% url 'follow-ups' %}" class="">
                                    <span class="pcoded-micon"><i class="feather icon-list"></i></span>
                                    <span class="pcoded-mtext">Follow Ups</span>
                                </a>
                            </li>

                            <li class="">
                                <a href="" class="disabled">
                                    <span class="pcoded-micon"><i class="feather icon-percent"></i></span>
                                    <span class="pcoded-mtext">Discounts</span>
                                </a>
                            </li>

                            <li class="">
                                <a href="" class="disabled">
                                    <span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                                    <span class="pcoded-mtext">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">

                                <main>
                                    {% include 'partials/messages.html' %}
                                    {% block content %}
                                    {% endblock %}
                                </main>
                            </div>
                        </div>
{#                        <div id="styleSelector">#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Warning Section Starts -->
<!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers
        to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="{% static 'shared_static/assets/images/browser/chrome.png' %} alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="{% static 'shared_static/assets/images/browser/firefox.png' %} alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="{% static 'shared_static/assets/images/browser/opera.png' %} alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="{% static 'shared_static/assets/images/browser/safari.png' %} alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="{% static 'shared_static/assets/images/browser/ie.png' %} alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->

    <!-- Required Jquery -->
{#    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
    <script type="text/javascript" src="{% static 'shared_static/bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/modernizr/js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/modernizr/js/css-scrollbars.js' %}"></script>

    <!-- print js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/print-js/dist/print.js' %}"></script>


    <!-- data-table js -->

    {# this older version has serious issues #}
    <script src="{% static 'shared_static/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
{#    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}

    <script src="{% static 'shared_static/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
{#    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>#}
    <script src="{% static 'shared_static/assets/pages/data-table/js/jszip.min.js' %}"></script>
{#    <script src="{% static 'shared_static/assets/pages/data-table/js/pdfmake.min.js' %}"></script>#}
{#    <script src="{% static 'shared_static/assets/pages/data-table/js/vfs_fonts.js' %}"></script>#}
    <script src="{% static 'shared_static/assets/pages/data-table/extensions/select/js/dataTables.select.min.js' %}"></script>

    {# this older version has touch issues #}
{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/colreorder/js/dataTables.colReorder.min.js' %}"></script>#}
    <script src="https://cdn.datatables.net/colreorder/1.5.1/js/dataTables.colReorder.min.js"></script>

{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/buttons/js/dataTables.buttons.min.js' %}"></script>#}
{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js' %}"></script>#}
{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/buttons/js/buttons.flash.min.js' %}"></script>#}
{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/buttons/js/jszip.min.js' %}"></script>#}
{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/buttons/js/vfs_fonts.js' %}"></script>#}

{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/buttons/js/buttons.colVis.min.js' %}"></script>#}
    <script src="{% static 'shared_static/assets/pages/data-table/extensions/responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
    <script src="{% static 'shared_static/bower_components/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'shared_static/bower_components/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'shared_static/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'shared_static/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'shared_static/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    {# this older version has serious issues #}
{#    <script src="{% static 'shared_static/assets/pages/data-table/extensions/scroller/js/dataTables.scroller.min.js' %}"></script>#}
    <script src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js"></script>


    <!-- Editable-table js -->
    <script type="text/javascript" src="{% static 'shared_static/assets/pages/edit-table/jquery.tabledit.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/assets/pages/edit-table/editable.js' %}"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/i18next/js/i18next.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/bower_components/jquery-i18next/js/jquery-i18next.min.js' %}"></script>
    <!-- list-scroll js -->
    <script src="{% static 'shared_static/bower_components/stroll/js/stroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/assets/pages/list-scroll/list-custom.js' %}"></script>
    <!-- jquery file upload js -->
    <script src="{% static 'shared_static/assets/pages/jquery.filer/js/jquery.filer.min.js' %}"></script>
    <script src="{% static 'shared_static/assets/pages/filer/custom-filer.js' %}" type="text/javascript"></script>
    <script src="{% static 'shared_static/assets/pages/filer/jquery.fileuploads.init.js' %}" type="text/javascript"></script>
    <!-- Select 2 js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/select2/js/select2.full.min.js' %}"></script>
    <!-- Multiselect js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js' %}"></script>
    <!--Forms - Wizard js-->
    <script src="{% static 'shared_static/bower_components/jquery.cookie/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'shared_static/bower_components/jquery.steps/js/jquery.steps.js' %}"></script>
    <script src="{% static 'shared_static/bower_components/jquery-validation/js/jquery.validate.js' %}"></script>
    <!-- Validation js -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
{#    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>#}
    <script type="text/javascript" src="{% static 'shared_static/assets/pages/form-validation/validate.js' %}"></script>

    <!-- Bootstrap date-time-picker js -->
{#    <script type="text/javascript" src="{% static 'shared_static/assets/pages/advance-elements/moment-with-locales.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'shared_static/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'shared_static/assets/pages/advance-elements/bootstrap-datetimepicker.min.js' %}"></script>#}
    <!-- Date-range picker js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/bootstrap-daterangepicker/js/daterangepicker.js' %}"></script>
    <!-- Date-dropper js -->
{#    <script type="text/javascript" src="{% static 'shared_static/bower_components/datedropper/js/datedropper.min.js' %}"></script>#}
    <!-- Color picker js -->
{#    <script type="text/javascript" src="{% static 'shared_static/bower_components/spectrum/js/spectrum.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'shared_static/bower_components/jscolor/js/jscolor.js' %}"></script>#}
    <!-- Mini-color js -->
{#    <script type="text/javascript" src="{% static 'shared_static/bower_components/jquery-minicolors/js/jquery.minicolors.min.js' %}"></script>#}

{#    <!-- sweet alert js -->#}
{#    <script type="text/javascript" src="{% static 'shared_static/bower_components/sweetalert/js/sweetalert.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'shared_static/assets/js/modal.js' %}"></script>#}
{#    <!-- sweet alert modal.js intialize js -->#}
{#    <!-- modalEffects js nifty modal window effects -->#}
{#    <script type="text/javascript" src="{% static 'shared_static/assets/js/modalEffects.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'shared_static/assets/js/classie.js' %}"></script>#}

    <!-- Select 2 js -->
    <script type="text/javascript" src="{% static 'shared_static/bower_components/select2/js/select2.full.min.js' %}"></script>

    <!-- ck editor -->
    <script src="{% static 'shared_static/assets/pages/ckeditor/ckeditor.js' %}"></script>
{#    <script src="https://cdn.ckeditor.com/ckeditor5/12.2.0/decoupled-document/ckeditor.js"></script>#}
{#    <script src="{% static 'shared_static/custom/build/ckeditor.js' %}"></script>#}

    <!-- Custom js -->
    <script type="text/javascript" src="{% static 'shared_static/assets/pages/advance-elements/select2-custom.js' %}"></script>
    <script src="{% static 'shared_static/assets/pages/forms-wizard-validation/form-wizard.js' %}"></script>
    <script src="{% static 'shared_static/assets/pages/data-table/extensions/select/js/select-custom.js' %}"></script>
    <script src="{% static 'shared_static/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'shared_static/assets/js/vartical-layout.min.js' %}"></script>
    <script src="{% static 'shared_static/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/assets/js/script.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.js"></script>
    <script type="text/javascript" src="{% static 'shared_static/custom/search_dimond.js' %}"></script>
    <script type="text/javascript" src="{% static 'shared_static/custom/custom_js.js' %}"></script>

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>#}
{#    <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>


    <script src="{% static 'shared_static/custom/bundle.js' %}"></script>
{#    <script data-cfasync="false" src="{% static 'shared_static/email-decode.min.js' %}"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.0.2/base64.min.js" integrity="sha256-e/oUiyyIuCPWGLoA5X/iJ+WbwaI5LN9P+lP/od21QQ4=" crossorigin="anonymous"></script>#}

    <!-- echart js -->
{#    <script type="text/javascript" src="{% static 'shared_static/assets/pages/chart/echarts/js/echarts-all.js' %}"></script>#}

    <script src="{% static 'shared_static/custom/gallery.js' %}"></script>
    <script src="{% static 'shared_static/custom/user-profile.js' %}"></script>
    <script src="{% static 'shared_static/custom/google_api.js' %}"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>


    {#<!-- Global site tag (gtag.js) - Google Analytics -->#}
{#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>#}
{#    <script>#}
{#      window.dataLayer = window.dataLayer || [];#}
{#      function gtag(){dataLayer.push(arguments);}#}
{#      gtag('js', new Date());#}
{##}
{#      gtag('config', 'UA-23581568-13');#}
{#    </script>#}
</body>
</html>
