{% extends 'base.html' %}
{% block title %}All Users{% endblock %}



{% block content %}
    <div id="messages">
{#        <div class="alert alert-dismissable alert-success">#}
{#            <a class="close" data-dismiss="alert" href="#">&times;</a>#}
{#            Test Success#}
{#        </div>#}
{#        <div class="alert alert-dismissable alert-danger">#}
{#            <a class="close" data-dismiss="alert" href="#">&times;</a>#}
{#            Test Error#}
{#        </div>#}
    </div>

<!-- Page-header start -->
<div class="page-header">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>{% block page_header %}All Users{% endblock %}</h4>
                    <span></span>

{#                    <span>{% block page_desc %}List of all the users{% endblock %}</span>#}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    {% block breadcrumb %}
                        <li class="breadcrumb-item">
                            <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'users' %}">Users</a> </li>
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="page-body">



    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                {% include "_view_edit_user.html" %}

                <div class="card-header" onclick="$('#search-block').toggle();" style="cursor: pointer">
                    <div class="col-xs-12">
                        <h5>Search Filters</h5>
{#                        <div class="sub-title">Search Filters</div>#}
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <!-- record-loader start -->
                                    <div class="preloader3 loader-block" id="user-count-loader" style="height: 5em; display: none;">
                                        <div class="circ1 loader-primary"></div>
                                        <div class="circ2 loader-primary"></div>
                                        <div class="circ3 loader-primary"></div>
                                        <div class="circ4 loader-primary"></div>
                                    </div>
                                    <!-- record-loader end -->
                                </li>
    {#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <ul class="list-unstyled card-option">
                            <li>
                                <span class="m-r-0" id="interactive-user-count">Please select appropriate filters!</span>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                </div>
                <div class="card-block tab-icon" id="search-block">
                    <div class="form-group row">
{#                                <div class="col-md-1 col-lg-1">#}
{#                                    <label for="email-filter">Email</label>#}
{#                                </div>#}
{#                                <div class="col-md-5 col-lg-5">#}
{#                                    <input type="email" class="form-control" id="email-filter" placeholder="email">#}
{#                                </div>#}
                        <div class="col-md-2 col-lg-2">
                            <label for="email-filter">Email</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="email-filter-ajax col-sm-12" id="email-filter">
                                <option value="" selected="selected">All Email</option>
                            </select>
                        </div>

                        <div class="col-md-2 col-lg-2">
                            <label for="sales-person-filter">Sales Person</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="sales-person-filter">
                                <option value="" selected>All Sales Person</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="dept-filter">Dept</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="dept-filter">
                                <option value="" selected>All Dept</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <label for="cu-type-filter">Customer Type</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="cu-type-filter">
                                <option value="" selected>All Types</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="u-status-filter">User Status</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="u-status-filter">
                                <option value="" selected>All Status</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <label for="country-filter">Country</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="country-filter">
                                <option value="" selected>All Countries</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="city-filter">City</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="city-filter">
                                <option value="" selected>All Cities</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <label for="region-state-filter">Region State</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="region-state-filter">
                                <option value="" selected>All Regions</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="close-to-city-filter">Close to City</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="js-example-basic-single" id="close-to-city-filter">
                                <option value="" selected>Close to City</option>
                            </select>
                        </div>
                    </div>

                    <hr>
                    <!-- Columns are always 50% wide, on mobile and desktop -->
                    <div class="row m-l-0">
                        <button class="btn btn-primary m-r-10 custom-button-row" name="SubmitForm" id="search-users">Submit Search</button>
                        <button class="btn btn-warning m-r-10 custom-button-row" name="ResetCriteria" id="reset-users">Reset Filters</button>
                    </div>
                </div>
            </div>

            <!-- POST Data table start -->
            <div class="card">
                <div class="card-header" onclick="$('#user-block').toggle();" style="cursor: pointer">
                    <h5>{% block card_header %}All Users{% endblock %}</h5>
                    <span class="pull-right"></span>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card" onclick="$('#user-block').toggle();"></i></li>
{#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
                        </ul>
                    </div>
                </div>

                <div class="card-block">
                    <div class="dt-responsive table-responsive">
{#                        <table id="user-table-server" class="table table-striped table-bordered nowrap compact">#}
                        <table id="user-table-server" class="display nowrap compact">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Company Name</th>
                                    <th>Title</th>
                                    <th>Sales Manager</th>
                                    <th>Sales Person</th>
                                    <th>User Status</th>
                                    <th>Customer Type</th>
                                    <th>Mass Email?</th>
                                    <th>Language</th>
                                    <th>Markup</th>
                                    <th>Street</th>
                                    <th>City</th>
                                    <th>Zip Code</th>
                                    <th>Country</th>
                                    <th>Tel</th>
                                    <th>Mobile</th>
                                    <th>Region/State</th>
                                    <th>Close to City</th>
                                    <th>Tel3</th>
                                    <th>Birth Date</th>
                                    <th>Business Type</th>
                                    <th>Website</th>
                                    <th>Skype User</th>
                                    <th>QQ</th>
                                    <th>Facebook</th>
                                    <th>Twitter</th>
                                    <th>Ref. Name</th>
                                    <th>Ref. Phone</th>
                                    <th>JBT</th>
                                    <th>VAT</th>
                                    <th>Whitesite Markup</th>
                                    <th>Dept.</th>
                                    <th>R1</th>
                                    <th>Address4</th>
                                    <th>Fantasy No.</th>
                                    <th>Harmony No.</th>
                                    <th>Data Source</th>
                                    <th>Verified?</th>
                                    <th>Date Created</th>
                                    <th>Date Modified</th>
                                    <th>Image</th>
                                    <th>Comment</th>
                                    <th>E-mail</th>
                                    <th>Full Name</th>
                                    <th>Suppliers</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Card Name</th>
                                    <th>Last Login</th>
                                    <th>ANC Interest</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- POST Data table end -->


        </div>
    </div>
</div>

{% endblock %}
