{% extends 'base.html' %}
{% block title %}Compose Email / DQuote{% endblock %}

{#{% block card_header %}Compose Email / DQuote{% endblock %}#}

{% block content %}

{#    <div class="modal fade" id="gallery-Modal" tabindex="-1" role="dialog">#}
{#        <div class="modal-dialog modal-lg" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h4 class="modal-title">Gallery</h4>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body" style="max-height: 90%">#}
{#                    {% include "_gallery.html" %}#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <input type="text" id="image_url" style="" value="" title="URL of the image">#}
{#                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}




    <div class="modal fade" id="stone-id-Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Stones (by ID)</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5></h5>
                    <p>Please enter comma separated IDs.</p>
                    <div class="form-group row">
                        <div class="col-md-12 col-lg-12">
                            <input id="email_lot_id" name="email_lot_id" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light "
                             onclick="update_email_stones()" data-dismiss="modal">Add These</button>
                </div>
            </div>
        </div>
    </div>

    <!--Add buttons to initiate auth sequence and sign out-->
{#    <button id="authorize_button" style="display: none;">Authorize</button>#}
{#    <button id="signout_button" style="display: none;">Sign Out</button>#}

{#    <pre id="content" style="white-space: pre-wrap;"></pre>#}


    <!-- Page-header start -->
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Compose Email / DQuote</h4>
                        <span></span>
    {#                    <span>Compose Email / DQuote</span>#}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
{#                page-header-breadcrumb#}
                <div class="">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Compose Email - DQuote</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->

    <div class="page-body">
        <div class="card m-t-30">
            {% include "_view_edit_user.html" %}

            <div class="card-block">
{#                <div class="row">#}
{#                    <div class="col-lg-12 col-xl-3">#}
{#                        <div class="user-head row">#}
{#                            <div class="user-face">#}
{#                                <img class="img-fluid" src="https://via.placeholder.com/150x40?text=LOGO" alt="Theme-Logo" />#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-12 col-xl-9">#}
{#                        <div class="mail-box-head row">#}
{#                            <div class="col-md-12">#}
{#                                <form class="f-right">#}
{#                                    <div class="right-icon-control">#}
{#                                        <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-2">#}
{#                                        <div class="form-icon">#}
{#                                            <i class="icofont icofont-search"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </form>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <div style="width: -webkit-fill-available;">
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#email-user-list" role="tab">Users List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#email-stone-list" role="tab">Stone List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#email-compose" role="tab">Compose</a>
                </li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content p-t-30">
            <div class="tab-pane" id="email-user-list" role="tabpanel">
{#                <div class="table-responsive">#}
{#                    <table class="table table-striped table-bordered" id="email-user-table">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>#</th>#}
{#                                <th>First</th>#}
{#                                <th>Last</th>#}
{#                                <th>Nickname</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            <tr>#}
{#                                <th scope="row">1</th>#}
{#                                <td class="tabledit-view-mode"><span class="tabledit-span">Mark</span>#}
{#                                    <input class="tabledit-input form-control input-sm" type="text" name="First" value="Mark">#}
{#                                </td>#}
{#                                <td class="tabledit-view-mode"><span class="tabledit-span">Otto</span>#}
{#                                    <input class="tabledit-input form-control input-sm" type="text" name="Last" value="Otto">#}
{#                                </td>#}
{#                                <td class="tabledit-view-mode"><span class="tabledit-span">@mdo</span>#}
{#                                    <select class="tabledit-input form-control input-sm" name="Nickname" disabled="" style="display:none;">#}
{#                                        <option value="1">@mdo</option>#}
{#                                        <option value="2">@fat</option>#}
{#                                        <option value="3">@twitter</option>#}
{#                                    </select>#}
{#                                </td>#}
{#                            </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}

                <div class="dt-responsive table-responsive">
                    <table id="email-user-table" class="display nowrap compact" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Company</th>
                                <th>Name</th>
                                <th>Sales Manager</th>
                                <th>Region</th>
                                <th>E-mail</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="tab-pane" id="email-stone-list" role="tabpanel">
{#                <div class="table-responsive">#}
{#                    <table class="table table-striped table-bordered" id="email-stone-table">#}
{#                        <thead>#}
{#                            <tr>#}
{#                                <th>#</th>#}
{#                                <th>First</th>#}
{#                                <th>Last</th>#}
{#                                <th>Nickname</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            <tr>#}
{#                                <th scope="row">1</th>#}
{#                                <td class="tabledit-view-mode"><span class="tabledit-span">Mark</span>#}
{#                                    <input class="tabledit-input form-control input-sm" type="text" name="First" value="Mark">#}
{#                                </td>#}
{#                                <td class="tabledit-view-mode"><span class="tabledit-span">Otto</span>#}
{#                                    <input class="tabledit-input form-control input-sm" type="text" name="Last" value="Otto">#}
{#                                </td>#}
{#                                <td class="tabledit-view-mode"><span class="tabledit-span">@mdo</span>#}
{#                                    <select class="tabledit-input form-control input-sm" name="Nickname" disabled="" style="display:none;">#}
{#                                        <option value="1">@mdo</option>#}
{#                                        <option value="2">@fat</option>#}
{#                                        <option value="3">@twitter</option>#}
{#                                    </select>#}
{#                                </td>#}
{#                            </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
                <div class="dt-responsive table-responsive">
                    <table id="email-stone-table" class="display nowrap compact">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>LotID</th>
                                <th>Shape</th>
                                <th>Cts</th>
                                <th>Col</th>
                                <th>Clar</th>
                                <th>Lab</th>
                                <th>CertNo</th>
                                <th>Image</th>
                                <th>Cut</th>
                                <th>Pol</th>
                                <th>Sym</th>
                                <th>Fluo</th>
                                <th>TD</th>
                                <th>T</th>
                                <th>Measurements</th>
                                <th>List</th>
                                <th>%</th>
                                <th>$/CT</th>
                                <th>Total($)</th>
                                <th>Counter Discount</th>
                                <th>Sale Price</th>
                                <th>Counter Total($)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="m-t-30 m-b-30">
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-radio">
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="price_type" value="original" checked="checked">
                                            <i class="helper"></i>Original Prices
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 p-r-0">
                                <div class="form-radio">
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="price_type" value="markup">
                                            <i class="helper"></i>Markup for all stones
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input id="markup-input" type="number" class="form-control price-input" disabled placeholder="-ve value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 p-r-0">
                                <div class="form-radio">
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="price_type" value="global">
                                            <i class="helper"></i>Global % Rap Discount
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input id="global-input" type="number" class="form-control price-input" disabled placeholder="-ve value">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-radio">
                                    <div class="radio radiofill radio-inline">
                                        <label>
                                            <input type="radio" name="price_type" value="remove">
                                            <i class="helper"></i>Remove Prices
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" id="price-update" class="btn btn-danger" value="Update Prices">
                        </div>
                    </div>
{#                    <div class="col-md-2"></div>#}
                    <div class="col-md-6">
                        <table border="0" id="stones-summary" class="pull-right mr-0">
{#                          <tr>#}
{#                            <th></th>#}
{#                            <th></th>#}
{#                            <th>Counter Offer</th>#}
{#                          </tr>#}
                          <tr>
                            <th># of stones: </th>
                            <td><span id="count"></span></td>
                            <td><span id="counter-count"></span></td>
                          </tr>
                          <tr>
                            <th>Total Weight: </th>
                            <td><span id="total-weight"></span></td>
                            <td><span id="counter-total-weight"></span></td>
                          </tr>
                          <tr>
                            <th>Total price after discount: </th>
                            <td><span id="total-price"></span></td>
{#                            <td><input class="form-control p-2" id="counter-total-price"/></td>#}
                            <td><span id="counter-total-price"></span></td>
                          </tr>
                          <tr>
                            <th>Total discount: </th>
                            <td><span id="total-disc"></span></td>
{#                            <td><input class="form-control p-2" id="counter-total-disc"/></td>#}
                            <td><span id="counter-total-disc"></span></td>
                          </tr>
{#                          <tr>#}
{#                            <th>Average discount: </th>#}
{#                            <td><span id="avg-disc"></span></td>#}
{#                            <td><span id="counter-avg-disc"></span></td>#}
{#                          </tr>#}
                          <tr>
                            <th>Avg. price per carat: </th>
                            <td><span id="avg"></span></td>
                            <td><span id="counter-avg"></span></td>
                          </tr>
                        </table>
{#                        <div class="row">#}
{#                            <div class="col-md-8"># of stones: </div>#}
{#                            <div class="col-md-4">#}
{#                                <span id="count"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-8">Total discount: </div>#}
{#                            <div class="col-md-4">#}
{#                                <span id="total-disc"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-8">Total price after discount: </div>#}
{#                            <div class="col-md-4">#}
{#                                <span id="total-price"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-8">Total Weight: </div>#}
{#                            <div class="col-md-4">#}
{#                                <span id="total-weight"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <div class="col-md-8">Avg. price per carat: </div>#}
{#                            <div class="col-md-4">#}
{#                                <span id="avg"></span>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>

            </div>
            <div class="tab-pane active" id="email-compose" role="tabpanel">
{#                <form action="{% url 'send_email' %}" method="post">#}
{#                <form>#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" id="from_email" placeholder="From" value="{{ user.email }}">#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <input type="text" class="form-control" id="to_email" placeholder="To" hidden>#}
{#                    </div>#}
                    <div class="form-group">
                        <select class="form-control" id="email_template" onchange="email_template_callback(this.value)">
                            <option value="" selected>Default Template</option>
                            {% for template in templates %}
                                <option value={{ template.id }}>{{ template.language }} | {{ template.name }} | {{ template.subject }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="cc" placeholder="Cc (Comma separated)">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="bcc" placeholder="Bcc (Comma separated)">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>
            {#        <textarea name="name" id="editor">Put your things hear</textarea>#}

{#                    <input type="text" class="form-control" id="email_body" name="body" placeholder="Body" hidden>#}
                        <table id="temp-table"></table>
                    <div style="display: none">
                        <div id="editor-header">
                            <img src="https://via.placeholder.com/950x70?text=LOGO">
                        </div>
{#                        <div id="editor-stones-table"></div>#}
{#                        <div id="editor-stones-summary"></div>#}
                        <div id="editor-footer"></div>
                        <div id="old-signature">{% if user.signature_settings %}{{ user.signature | default_if_none:"" }}{% endif %}</div>
                        <div id="email_body"></div>
                    </div>

                    <textarea id="email_editor" rows="10" cols="80" title="Email Body">
                    </textarea>

{#                    <div id="toolbar-container"></div>#}
{#                    <!-- This container will become the editable. -->#}
{#                    <div id="editor" class="form-control" style="min-height: 300px;">#}
{#                    </div>#}

                <div id="messages" class="mt-2 mb-2">
                    <input id="file" type="file" multiple="multiple"/>
                    <button id="button" onclick="attachFiles()">Attach Files</button>
                    <!-- record-loader start -->
                    <div class="preloader3 loader-block" id="email-send-loader" style="height: 5em; display: none;">
                        <div class="circ1 loader-primary"></div>
                        <div class="circ2 loader-primary"></div>
                        <div class="circ3 loader-primary"></div>
                        <div class="circ4 loader-primary"></div>
                    </div>
                    <!-- record-loader end -->

                </div>

                    <div class="form-group">
                        <button id="send-button" class="btn btn-primary" onclick="sendEmail()">Send</button>
                        <button id="test-email-button" class="btn btn-secondary" onclick="sendTestEmail()">Test Email</button>
{#                        <input id="send_email" class="btn btn-danger" value="Send" readonly>#}
{#                        <input id="send_test_email" class="btn btn-success" value="Send Test Email" readonly>#}
                    </div>
{#                </form>#}



            </div>
        </div>
    </div>

            </div>
        </div>
    </div>

{% endblock %}
