{% extends 'base_users.html' %}
{% block title %}Customers{% endblock %}

{% block page_header %}all customers{% endblock %}
{% block page_desc %}list of all the customers{% endblock %}
{% block card_header %}Customers{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'customers' %}">Customers</a> </li>
{% endblock %}

