{% extends 'base.html' %}
{% load static %}

{% block title %}Diamonds{% endblock %}


<script>
    $(document).ready(function() {
        console.log('over here!');
        function f() {
            {#shp_Round.checked=!shp_Round.checked;#}
        }
    })
</script>


{% block content %}

<!-- Page-header start -->
<div class="page-header">
    <div class="row">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Diamonds</h4>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'diamonds' %}">Diamonds</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0" onclick="$('#search-block').toggle();" style="cursor: pointer">
                    <div class="col-xs-12">
                        <h5>Search Filters</h5>
{#                        <div class="sub-title">Search Filters</div>#}
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <!-- record-loader start -->
                                    <div class="preloader3 loader-block" id="stone-count-loader" style="height: 5em; display: none;">
                                        <div class="circ1 loader-primary"></div>
                                        <div class="circ2 loader-primary"></div>
                                        <div class="circ3 loader-primary"></div>
                                        <div class="circ4 loader-primary"></div>
                                    </div>
                                    <!-- record-loader end -->
                                </li>
    {#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <ul class="list-unstyled card-option">
                            <li>
                                <span class="m-r-0" id="interactive-stone-count">Please select appropriate filters!</span>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                </div>
                <div class="card-block tab-icon " id="search-block">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs " role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#shape-tab" role="tab"><i class="icofont icofont-home"></i>Shape</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#color-tab" role="tab"><i class="icofont icofont-ui-user "></i>Col</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages7" role="tab"><i class="icofont icofont-ui-message"></i>Clar, Labs & Loc</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#settings7" role="tab"><i class="icofont icofont-ui-settings"></i>Cut, Pol & Sym</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#home" role="tab"><i class="icofont icofont-home"></i>Fluo & Feed</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><i class="icofont icofont-ui-user "></i>TD, T & %Rap</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><i class="icofont icofont-ui-message"></i>Cts & Cert# or ID</a>
                            <div class="slide"></div>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" data-toggle="tab" href="#sort-tab" role="tab"><i class="icofont icofont-ui-settings"></i>Sorting</a>#}
{#                            <div class="slide"></div>#}
{#                        </li>#}
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="shape-tab" role="tabpanel">
                            <!-- Select Shapes -->
                            <div class="" id="shape">
                                <h6>Shape</h6>
                                <div class="row m-l-0">
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Round.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Round" id="Round" checked>
                                                <label for="Round">Round</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Princess.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Princess" id="Princess">
                                                <label for="Princess">Princess</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Pear.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Pear" id="Pear">
                                                <label for="Pear">Pear</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Oval.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Oval" id="Oval">
                                                <label for="Oval">Oval</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Emerald.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Emerald" id="Emerald">
                                                <label for="Emerald">Emerald</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Marquise.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Marquise" id="Marquise">
                                                <label for="Marquise">Marquise</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Heart.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Heart" id="Heart">
                                                <label for="Heart">Heart</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Asscher.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Asscher" id="Asscher">
                                                <label for="Asscher">Asscher</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Radiant.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Radiant" id="Radiant">
                                                <label for="Radiant">Radiant</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Cushion.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Cushion" id="Cushion">
                                                <label for="Cushion">Cushion</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Triangle.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Triangle" id="Triangle">
                                                <label for="Triangle">Triangle</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="http://www.sdegroup.com/harmony/manage/tmpl_sde/images/shp_Baguette.gif">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Baguette" id="Baguette">
                                                <label for="Baguette">Baguette</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="https://via.placeholder.com/50x50/a69ab8/FFFFFF?text=Other">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input class="shp" type="checkbox" name="Other" id="Other">
                                                <label for="Other">Other</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <img src="https://via.placeholder.com/50x50/a69ab8/FFFFFF?text=All">
                                        </div>
                                        <div class="m-l-5">
                                            <div class="checkbox-color checkbox-primary">
                                                <input type="checkbox" name="select_all" id="select_all">
                                                <label for="select_all">Select All</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="color-tab" role="tabpanel">
                            <!-- Color -->
                            <div class="">
                                <h6>Color</h6>
                                <!-- Regular Colors Checkboxes, System without fancy -->
                                <div class="row m-l-5 ">
                                    <div class="form-radio">
                                        <div class="radio radiofill radio-inline">
                                            <label>
                                                <input type="radio" name="color_type" value="type1" checked="checked">
                                                <i class="helper"></i>Type 1
                                            </label>
                                        </div>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_D" type="checkbox" class="type1">
                                        <label for="color_D">
                                            D
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_E" type="checkbox" class="type1">
                                        <label for="color_E">
                                            E
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_F" type="checkbox" class="type1">
                                        <label for="color_F">
                                            F
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_G" type="checkbox" class="type1">
                                        <label for="color_G">
                                            G
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_H" type="checkbox" class="type1">
                                        <label for="color_H">
                                            H
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_I" type="checkbox" class="type1">
                                        <label for="color_I">
                                            I
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_J" type="checkbox" class="type1">
                                        <label for="color_J">
                                            J
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_K" type="checkbox" class="type1">
                                        <label for="color_K">
                                            K
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                            <input id="color_L" type="checkbox" class="type1">
                                        <label for="color_L">
                                            L
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_M" type="checkbox" class="type1">
                                        <label for="color_M">
                                            M
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_N" type="checkbox" class="type1">
                                        <label for="color_N">
                                            N
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color_O_Z" type="checkbox" class="type1">
                                        <label for="color_O_Z">
                                            O_Z
                                        </label>
                                    </div>
                                    <div class="type1 checkbox-color checkbox-primary">
                                        <input id="color1_all" type="checkbox" class="type1">
                                        <label for="color1_all">
                                            Select All
                                        </label>
                                    </div>
                                </div>
                                <!-- Select Regular Colors, System without fancy -->
                                <div class="row m-l-5">
                                    <div class="form-radio">
                                        <div class="radio radiofill radio-inline">
                                            <label>
                                                <input type="radio" name="color_type" value="type2">
                                                <i class="helper"></i>Type 2
                                            </label>
                                        </div>
                                    </div>
                                    <div class="type2 checkbox-color checkbox-default">
                                        <input id="Yellow" class="type2" type="checkbox" disabled="">
                                        <label for="Yellow">
                                            Yellow
                                        </label>
                                    </div>
                                    <div class="type2 checkbox-color checkbox-default">
                                        <input id="Pink" class="type2" type="checkbox" disabled="">
                                        <label for="Pink">
                                            Pink
                                        </label>
                                    </div>
                                    <div class="type2 checkbox-color checkbox-default">
                                        <input id="Others" class="type2" type="checkbox" disabled="">
                                        <label for="Others">
                                            Others
                                        </label>
                                    </div>
                                    <div class="type2 checkbox-color checkbox-default">
                                        <input id="color2_all" class="type2" type="checkbox" disabled="">
                                        <label for="color2_all">
                                            Select All
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages7" role="tabpanel">
                            <!--Clarity Checkboxes: -->
                            <div class="">
                                <h6>Clarity:</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_IF" id="clarity_IF">
                                        <label for="clarity_IF">IF</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_VVS1" id="clarity_VVS1">
                                        <label for="clarity_VVS1">VVS1</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_VVS2" id="clarity_VVS2">
                                        <label for="clarity_VVS2">VVS2</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_VS1" id="clarity_VS1">
                                        <label for="clarity_VS1">VS1</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_VS2" id="clarity_VS2">
                                        <label for="clarity_VS2">VS2</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_SI1" id="clarity_SI1">
                                        <label for="clarity_SI1">SI1</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_SI2" id="clarity_SI2">
                                        <label for="clarity_SI2">SI2</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_I1" id="clarity_I1">
                                        <label for="clarity_I1">I1</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="clarity" type="checkbox" name="clarity_all" id="clarity_all">
                                        <label for="clarity_all">All</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Select Labs -->
                            <div class="">
                                <h6>Labs:</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="lab" type="checkbox" name="lab_GIA" id="lab_GIA">
                                        <label for="lab_GIA">GIA</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="lab" type="checkbox" name="lab_HRD" id="lab_HRD">
                                        <label for="lab_HRD">HRD</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="lab" type="checkbox" name="lab_IGI" id="lab_IGI">
                                        <label for="lab_IGI">IGI</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="lab" type="checkbox" name="lab_Other" id="lab_Other">
                                        <label for="lab_Other">Other</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="lab" type="checkbox" name="lab_all" id="lab_all">
                                        <label for="lab_all">All</label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Select Locations -->
                            <div class="">
                                <h6>Location</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="location" type="checkbox" name="location_Belgium" id="location_Belgium">
                                        <label for="location_Belgium">Belgium</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="location" type="checkbox" name="location_Israel" id="location_Israel">
                                        <label for="location_Israel">Israel</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="location" type="checkbox" name="location_Hong_Kong" id="location_Hong_Kong">
                                        <label for="location_Hong_Kong">Hong Kong</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input class="location" type="checkbox" name="location_all" id="location_all">
                                        <label for="location_all">All</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings7" role="tabpanel">
                            <!-- Select Cut Type-->
                            <div class="">
                                <h6>Cut Type</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut_type" id="3x">
                                        <label for="3x">
                                            3X
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut_type" id="vg_plus">
                                        <label for="vg_plus">
                                            VG+
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Select Cut -->
                            <div class="">
                                <h6>Cut</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut" id="cut_EXCELLENT">
                                        <label for="cut_EXCELLENT">
                                            EXCELLENT
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut" id="cut_FAIR">
                                        <label for="cut_FAIR">
                                            FAIR
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut" id="cut_GOOD">
                                        <label for="cut_GOOD">
                                            GOOD
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut" id="cut_VERY_GOOD">
                                        <label for="cut_VERY_GOOD">
                                            VERY GOOD
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut" id="cut_other">
                                        <label for="cut_other">
                                            Other
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="cut" id="cut_all">
                                        <label for="cut_all">
                                            All
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Select Polish -->
                            <div class="">
                                <h6>Polish / Finish:</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="polish" id="polish_EXCELLENT">
                                        <label for="polish_EXCELLENT">
                                            EXCELLENT
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="polish" id="polish_FAIR">
                                        <label for="polish_FAIR">
                                            FAIR
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="polish" id="polish_GOOD">
                                        <label for="polish_GOOD">
                                            GOOD
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="polish" id="polish_VERY_GOOD">
                                        <label for="polish_VERY_GOOD">
                                            VERY GOOD
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="polish" id="polish_all">
                                        <label for="polish_all">
                                            All
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Select Symmetry -->
                            <div class="">
                                <h6>Symmetry / Proportion:</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="symmetry" id="symmetry_EXCELLENT">
                                        <label for="symmetry_EXCELLENT">
                                            EXCELLENT
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="symmetry" id="symmetry_FAIR">
                                        <label for="symmetry_FAIR">
                                            FAIR
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="symmetry" id="symmetry_GOOD">
                                        <label for="symmetry_GOOD">
                                            GOOD
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="symmetry" id="symmetry_VERY_GOOD">
                                        <label for="symmetry_VERY_GOOD">
                                            VERY GOOD
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="symmetry" id="symmetry_all">
                                        <label for="symmetry_all">
                                            All
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="home" role="tabpanel">
                            <!-- Select Fluorescence -->
                            <div class="">
                                <h6>Fluorescence</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_N">
                                        <label for="fluorescence_N">
                                            N
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_F">
                                        <label for="fluorescence_F">
                                            F
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_VSL">
                                        <label for="fluorescence_VSL">
                                            VSL
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_SL">
                                        <label for="fluorescence_SL">
                                            SL
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_M">
                                        <label for="fluorescence_M">
                                            M
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_STR">
                                        <label for="fluorescence_STR">
                                            STR
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_VST">
                                        <label for="fluorescence_VST">
                                            VST
                                        </label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="fluorescence" id="fluorescence_all">
                                        <label for="fluorescence_all">
                                            All
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Select StoneGroup -->
                            <div class="">
                                <h6>StoneGroup</h6>
                                <div class="row m-l-5">
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_AMC" id="stonegroup_AMC">
                                        <label for="stonegroup_AMC">66</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary" hidden>
                                        <input type="checkbox" class="stonegroup" name="stonegroup_ERAN" id="stonegroup_ERAN">
                                        <label for="stonegroup_ERAN">ERAN</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary" hidden>
                                        <input type="checkbox" class="stonegroup" name="stonegroup_EZ" id="stonegroup_EZ">
                                        <label for="stonegroup_EZ">EZ</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_GUTFRUND" id="stonegroup_GUTFRUND">
                                        <label for="stonegroup_GUTFRUND">9099</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_KIRAN" id="stonegroup_KIRAN">
                                        <label for="stonegroup_KIRAN">1007</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary" hidden>
                                        <input type="checkbox" class="stonegroup" name="stonegroup_LSDCO_IL" id="stonegroup_LSDCO_IL">
                                        <label for="stonegroup_LSDCO_IL">LSDCO_IL</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_SDE" id="stonegroup_SDE">
                                        <label for="stonegroup_SDE">1010</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_SRK" id="stonegroup_SRK">
                                        <label for="stonegroup_SRK">88</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_NIRU" id="stonegroup_NIRU">
                                        <label for="stonegroup_NIRU">44</label>
                                    </div>
                                    <div class="checkbox-color checkbox-primary">
                                        <input type="checkbox" class="stonegroup" name="stonegroup_all" id="stonegroup_all">
                                        <label for="stonegroup_all">All</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <!-- Select Depth -->
                            <div class="">
                                <h6>Depth</h6>
                                <label for="depth_from">From</label>
                                <input type="number" name="depth_from" step=".01" value="" id="depth_from">
                                <label for="depth_to">To</label>
                                <input type="number" name="depth_to" step=".01" value="" id="depth_to">
                            </div>
                            <hr>
                            <!-- Select Table -->
                            <div class="">
                                <h6>Table</h6>
                                <label for="table_from">&nbsp;From&nbsp;</label>
                                <input type="number" step="1" name="table_from" value="" id="table_from">
                                <label for="table_to">To</label>
                                <input type="number" step="1" name="table_to" value="" id="table_to">
                            </div>
                            <hr>
                            <!-- Select Discount Range -->
                            <div class="">
                                <h6>% Rap</h6>
                                <label for="discount_from">&nbsp;From&nbsp;</label>
                                <input type="number" step="1" name="discount_from" value="" id="discount_from">
                                <label for="discount_to">To</label>
                                <input type="number" step="1" name="discount_to" value="" id="discount_to">
                            </div>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <!-- LotID Textbox -->
                            <div class="form-group row">
                                <div class="col-md-4 col-lg-4">
                                    <label for="lotid">Search by Stock# or Cert#:</label>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <input class="form-control " type="text" name="lotid" id="lotid" placeholder="Comma Separated">
                                </div>
                            </div>
{#                            <div class="">#}
{#                                <label for="lotid">Search by Stock# or Cert#:</label>#}
{#                                <input type="text" name="lotid" id="lotid">#}
{#                            </div>#}
                            <hr>
                            <!-- Select Weight -->
                            <div class="">
                                <h6>Cts:</h6>
                                <label for="weight_from">From</label>
                                <input type="text" name="weight_from" id="weight_from">
                                <label for="weight_to">To</label>
                                <input type="text" name="weight_to" id="weight_to">
                                <label for="weight_select">quick select:</label>
                                <select name="weight_select" id="weight_select">
                                    <option value=" - " selected>e.g 0.08 - 0.12</option>
                                    <option value="0.08 - 0.12">0.08 - 0.12</option>
                                    <option value="0.13 - 0.17">0.13 - 0.17</option>
                                    <option value="0.18 - 0.22">0.18 - 0.22</option>
                                    <option value="0.23 - 0.29">0.23 - 0.29</option>
                                    <option value="0.3 - 0.37">0.30 - 0.37</option>
                                    <option value="0.38 - 0.45">0.38 - 0.45</option>
                                    <option value="0.46 - 0.49">0.46 - 0.49</option>
                                    <option value="0.5 - 0.69">0.50 - 0.69</option>
                                    <option value="0.7 - 0.89">0.70 - 0.89</option>
                                    <option value="0.9 - 0.99">0.90 - 0.99</option>
                                    <option value="1 - 1.49">1.00 - 1.49</option>
                                    <option value="1.5 - 1.99">1.50 - 1.99</option>
                                    <option value="2 - 2.99">2.00 - 2.99</option>
                                    <option value="3 - 3.99">3.00 - 3.99</option>
                                    <option value="4 - 4.99">4.00 - 4.99</option>
                                    <option value="5 - 100">5+</option>
                                </select>
                            </div>
                        </div>
{#                        <div class="tab-pane" id="sort-tab" role="tabpanel">#}
{#                            <!-- Select Order By -->#}
{#                            <div class="">#}
{#                                <h6>Deep Sort By</h6>#}
{#                                <select name="Order1" id="Order1"><option value=""></option><option value="ShapeOrderBy">Shape</option><option value="Weight">Weight</option><option value="Color">Color</option><option value="ClarityOrderBy">Clarity</option><option value="LabOrderBy">Lab</option><option value="LotIDStr">LotID</option><option value="RapDiscount">RAP</option><option value="CutOrderBy">Cut</option><option value="PolishOrderBy">Polish</option><option value="SymmetryOrderBy">Symmetry</option><option value="FluorescenceOrderby">Fluorescence</option><option value="Depth">Depth</option><option value="TablePercent">TablePercent</option><option value="Girdle">Girdle</option><option value="ListPrice">ListPrice</option><option value="UserSalePrice">Sale Price</option><option value="UserPrice">Total Price</option><option value="Culet">Culet</option><option value="UserRapDiscount">Discount</option><option value="GnrInt1">SDE</option></select> and by#}
{#                                <select name="Order2" id="Order2"><option value=""></option><option value="ShapeOrderBy">Shape</option><option value="Weight">Weight</option><option value="Color">Color</option><option value="ClarityOrderBy">Clarity</option><option value="LabOrderBy">Lab</option><option value="LotIDStr">LotID</option><option value="RapDiscount">RAP</option><option value="CutOrderBy">Cut</option><option value="PolishOrderBy">Polish</option><option value="SymmetryOrderBy">Symmetry</option><option value="FluorescenceOrderby">Fluorescence</option><option value="Depth">Depth</option><option value="TablePercent">TablePercent</option><option value="Girdle">Girdle</option><option value="ListPrice">ListPrice</option><option value="UserSalePrice">Sale Price</option><option value="UserPrice">Total Price</option><option value="Culet">Culet</option><option value="UserRapDiscount">Discount</option><option value="GnrInt1">SDE</option></select> and by#}
{#                                <select name="Order3" id="Order3"><option value=""></option><option value="ShapeOrderBy">Shape</option><option value="Weight">Weight</option><option value="Color">Color</option><option value="ClarityOrderBy">Clarity</option><option value="LabOrderBy">Lab</option><option value="LotIDStr">LotID</option><option value="RapDiscount">RAP</option><option value="CutOrderBy">Cut</option><option value="PolishOrderBy">Polish</option><option value="SymmetryOrderBy">Symmetry</option><option value="FluorescenceOrderby">Fluorescence</option><option value="Depth">Depth</option><option value="TablePercent">TablePercent</option><option value="Girdle">Girdle</option><option value="ListPrice">ListPrice</option><option value="UserSalePrice">Sale Price</option><option value="UserPrice">Total Price</option><option value="Culet">Culet</option><option value="UserRapDiscount">Discount</option><option value="GnrInt1">SDE</option></select> and by#}
{#                                <select name="Order4" id="Order4"><option value=""></option><option value="ShapeOrderBy">Shape</option><option value="Weight">Weight</option><option value="Color">Color</option><option value="ClarityOrderBy">Clarity</option><option value="LabOrderBy">Lab</option><option value="LotIDStr">LotID</option><option value="RapDiscount">RAP</option><option value="CutOrderBy">Cut</option><option value="PolishOrderBy">Polish</option><option value="SymmetryOrderBy">Symmetry</option><option value="FluorescenceOrderby">Fluorescence</option><option value="Depth">Depth</option><option value="TablePercent">TablePercent</option><option value="Girdle">Girdle</option><option value="ListPrice">ListPrice</option><option value="UserSalePrice">Sale Price</option><option value="UserPrice">Total Price</option><option value="Culet">Culet</option><option value="UserRapDiscount">Discount</option><option value="GnrInt1">SDE</option></select>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <hr>
                    <!-- Columns are always 50% wide, on mobile and desktop -->
                    <div class="row m-l-0">
                        <button class="btn btn-primary m-r-10 custom-button-row" name="SubmitForm" id="search">Submit Search</button>
                        <button class="btn btn-warning m-r-10 custom-button-row" name="ResetCriteria" id="reset">Reset Filters</button>
                        <button class="btn btn-info waves-effect m-r-10 custom-button-row" id="manage" data-toggle="modal" data-target="#Modal-search">Manage Searches</button>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade modal-flex" id="Modal-search" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#tab-save" role="tab">Save Search</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#tab-load" role="tab">Load Search</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content modal-body">
                                        <div class="tab-pane active" id="tab-save" role="tabpanel">
{#                                                <h6>Save Search</h6>#}
                                            <p>Please enter a name and save your current search.</p>
                                            <div class="form-group row">
                                                <div class="col-md-4 col-lg-4">
                                                    <label for="search_name" class="block">Search Name</label>
                                                </div>
                                                <div class="col-md-8 col-lg-8">
                                                    <input id="search_name" name="search_name" type="text" class="form-control">
                                                </div>
                                            </div>
{#                                                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>#}
                                            <button type="button" id="save-search" class="btn btn-primary waves-effect waves-light ">Save Search</button>
                                        </div>
                                        <div class="tab-pane" id="tab-load" role="tabpanel">
{#                                                <h6>Load Search</h6>#}
                                            <p>Please select a search and load it.</p>
                                            <div class="form-group row">
                                                <div class="col-md-4 col-lg-4">
                                                    <label for="searches" class="block">Select Search</label>
                                                </div>
                                                <div class="col-md-8 col-lg-8">
                                                    <select class="form-control required" id="searches">
                                                        <option value="WY">John Doe</option>
                                                    </select>
                                                </div>
                                            </div>
{#                                                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>#}
                                            <button type="button" id="delete-search" class="btn btn-danger waves-effect waves-light ">Delete Search</button>
                                            <button type="button" id="load-search" class="btn btn-primary waves-effect waves-light ">Load Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{#                    <select class="js-example-basic-single col-sm-12">#}
{#                        <optgroup label="Developer">#}
{#                            <option value="AL">Alabama</option>#}
{#                            <option value="WY">Wyoming</option>#}
{#                        </optgroup>#}
{#                        <optgroup label="Designer">#}
{#                            <option value="WY">Peter</option>#}
{#                            <option value="WY">Hanry Die</option>#}
{#                            <option value="WY">John Doe</option>#}
{#                        </optgroup>#}
{#                    </select>#}


                </div>
            </div>


            <!-- POST Data table start -->
            <div class="card">
{#                <div class="card-header">#}
{#                    <h5>POST Data</h5>#}
{#                    <span>The example below shows server-side processing being used with an extra parameter being sent to the server by using the ajax.data option as a function</span>#}
{##}
{#                </div>#}
                <div class="card-header" onclick="$('#diamond-block').toggle();" style="cursor: pointer">
                <div class="col-xs-12">
                    <h5>Diamonds</h5>
                    <span class="pull-right"></span>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card" onclick="$('#diamond-block').toggle();"></i></li>
{#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12">
                    {% with diamonds|last as last %}
                        <span class="text-muted">Last Updated: {{ last.date_created |default_if_none:""}}</span>
                    {% endwith %}
                </div>
                </div>

                <div class="card-block">
                    <div class="dt-responsive table-responsive">
{#                        <table id="diamond-table-server" class="table table-striped table-bordered nowrap compact">#}
                        <table id="diamond-table-server" class="display nowrap compact">
                            <thead>
{#                            <tr>#}
{#                                <th>a</th>#}
{#                                <th>s</th>#}
{#                                <th>d</th>#}
{#                                <th>f</th>#}
{#                                <th>g</th>#}
{#                                <th>h</th>#}
{#                            </tr>#}
                                <tr>
                                    <th>ID</th>
                                    <th>LotID</th>
                                    <th>LotIDStr</th>
                                    <th>Shape</th>
                                    <th>Cts</th>
                                    <th>Col</th>

                                    <th>Clar</th>
                                    <th>Lab</th>
                                    <th>Pol</th>
                                    <th>Sym</th>
                                    <th>Fluo</th>

                                    <th>CertNo</th>
                                    <th>m1</th>
                                    <th>m2</th>
                                    <th>m3</th>
                                    <th>TD</th>

                                    <th>T</th>
                                    <th>CrownAngle</th>
                                    <th>Fluo Col</th>
                                    <th>Girdle</th>
                                    <th>Culet</th>

                                    <th>Quantity</th>
                                    <th>RAP</th>
                                    <th>%RAP</th>
                                    <th>SalePrice</th>
                                    <th>Status</th>

                                    <th>Cut</th>
                                    <th>Cert View</th>
                                    <th>Dia View</th>
                                    <th>DateCreated</th>
                                    <th>Feed</th>

                                    <th>Location</th>
                                    <th>Intensity</th>
                                    <th>Overtone</th>

{#                                    Full Names#}
{#                                    <th>ID</th>#}
{#                                    <th>LotID</th>#}
{#                                    <th>LotIDStr</th>#}
{#                                    <th>Shape</th>#}
{#                                    <th>Weight</th>#}
{#                                    <th>Color</th>#}
{##}
{#                                    <th>Clarity</th>#}
{#                                    <th>Lab</th>#}
{#                                    <th>Polish</th>#}
{#                                    <th>Symmetry</th>#}
{#                                    <th>Fluorescence</th>#}
{##}
{#                                    <th>CertNo</th>#}
{#                                    <th>m1</th>#}
{#                                    <th>m2</th>#}
{#                                    <th>m3</th>#}
{#                                    <th>Depth</th>#}
{##}
{#                                    <th>TablePercent</th>#}
{#                                    <th>CrownAngle</th>#}
{#                                    <th>FluorescenceColor</th>#}
{#                                    <th>Girdle</th>#}
{#                                    <th>Culet</th>#}
{##}
{#                                    <th>Quantity</th>#}
{#                                    <th>ListPrice</th>#}
{#                                    <th>RapDiscount</th>#}
{#                                    <th>SalePrice</th>#}
{#                                    <th>Status</th>#}
{##}
{#                                    <th>Cut</th>#}
{#                                    <th>Certificate Filename</th>#}
{#                                    <th>Diamond Filename</th>#}
{#                                     <th>DateCreated</th>#}
{#                                    <th>Feed</th>#}
{##}
{#                                    <th>CountryLocation</th>#}
{#                                    <th>FancyIntensity</th>#}
{#                                    <th>FancyOvertone</th>#}
                                </tr>
                            </thead>
{#                            <tfoot>#}
{#                                <tr>#}
{#                                        <th>ID</th>#}
{#                                        <th>LotID</th>#}
{#                                        <th>LotIDStr</th>#}
{#                                        <th>Shape</th>#}
{#                                        <th>Weight</th>#}
{#                                        <th>Color</th>#}
{##}
{#                                        <th>Clarity</th>#}
{#                                        <th>Lab</th>#}
{#                                        <th>Polish</th>#}
{#                                        <th>Symmetry</th>#}
{#                                        <th>Fluorescence</th>#}
{##}
{#                                        <th>CertNo</th>#}
{#                                        <th>m1</th>#}
{#                                        <th>m2</th>#}
{#                                        <th>m3</th>#}
{#                                        <th>Depth</th>#}
{##}
{#                                        <th>TablePercent</th>#}
{#                                        <th>CrownAngle</th>#}
{#                                        <th>FluorescenceColor</th>#}
{#                                        <th>Girdle</th>#}
{#                                        <th>Culet</th>#}
{##}
{#                                        <th>Quantity</th>#}
{#                                        <th>ListPrice</th>#}
{#                                        <th>RapDiscount</th>#}
{#                                        <th>SalePrice</th>#}
{#                                        <th>Status</th>#}
{##}
{#                                        <th>Cut</th>#}
{#                                        <th>Certificate Filename</th>#}
{#                                        <th>Diamond Filename</th>#}
{#                                        <th>DateCreated</th>#}
{#                                        <th>Feed</th>#}
{##}
{#                                        <th>CountryLocation</th>#}
{#                                        <th>FancyIntensity</th>#}
{#                                        <th>FancyOvertone</th>#}
{#                                    </tr>#}
{#                            </tfoot>#}
                        </table>
                    </div>
                </div>
            </div>
            <!-- POST Data table end -->


            <!-- multi-select-diamonds table start -->
{#            <div class="card">#}
{#                <div class="card-header" onclick="$('#diamond-block').toggle();" style="cursor: pointer">#}
{#                    <h5>Diamonds</h5>#}
{#                    <span class="pull-right"></span>#}
{#                    <div class="card-header-right">#}
{#                        <ul class="list-unstyled card-option">#}
{#                            {% with diamonds|last as last %}#}
{#                                <li class="text-muted">Last Updated: {{ last.date_created |default_if_none:""}}</li>#}
{#                            {% endwith %}#}
{#                            <li><i class="feather icon-maximize full-card" onclick="$('#diamond-block').toggle();"></i></li>#}
{#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card-block" id="diamond-block">#}
{#                    {% if diamonds.paginator.count > 0 %}#}
{#                        <span id="stone-count">Total {{ diamonds.paginator.count }} Recor{{ diamonds.paginator.count|pluralize:"d,ds" }} Found</span>#}
{#                        <br>#}
{#                        <div class="dt-responsive table-responsive">#}
{#                            <table id="multi-select-diamonds" class="table table-striped table-bordered nowrap compact">#}
{#                                <thead>#}
{#                                    <tr>#}
{#                                        <th>ID</th>#}
{#                                        <th>LotID</th>#}
{#                                        <th>LotIDStr</th>#}
{#                                        <th>Shape</th>#}
{#                                        <th>Weight</th>#}
{#                                        <th>Color</th>#}
{##}
{#                                        <th>Clarity</th>#}
{#                                        <th>Lab</th>#}
{#                                        <th>Polish</th>#}
{#                                        <th>Symmetry</th>#}
{#                                        <th>Fluorescence</th>#}
{##}
{#                                        <th>CertNo</th>#}
{#                                        <th>m1</th>#}
{#                                        <th>m2</th>#}
{#                                        <th>m3</th>#}
{#                                        <th>Depth</th>#}
{##}
{#                                        <th>TablePercent</th>#}
{#                                        <th>CrownAngle</th>#}
{#                                        <th>FluorescenceColor</th>#}
{#                                        <th>Girdle</th>#}
{#                                        <th>Culet</th>#}
{##}
{#                                        <th>Quantity</th>#}
{#                                        <th>ListPrice</th>#}
{#                                        <th>RapDiscount</th>#}
{#                                        <th>SalePrice</th>#}
{#                                        <th>Status</th>#}
{##}
{#                                        <th>Cut</th>#}
{#                                        <th>Certificate Filename</th>#}
{#                                        <th>Diamond Filename</th>#}
{#                                        <th>DateCreated</th>#}
{#                                        <th>Feed</th>#}
{##}
{#                                        <th>CountryLocation</th>#}
{#                                        <th>FancyIntensity</th>#}
{#                                        <th>FancyOvertone</th>#}
{#                                    </tr>#}
{#                                </thead>#}
{#                                <tbody>#}
{#                                    {% for diamond in diamonds %}#}
{#                                    <tr>#}
{#                                        <td>{{ diamond.id}}</td>#}
{#                                        <td>{{ diamond.lot_id |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.lot_id_str |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.shape |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.weight |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.color |default_if_none:"" }}</td>#}
{##}
{#                                        <td>{{ diamond.clarity |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.lab |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.polish |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.symmetry |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.fluorescence |default_if_none:"" }}</td>#}
{##}
{#                                        <td>{{ diamond.cert_no |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.m1 |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.m2 |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.m3 |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.depth |default_if_none:"" }}</td>#}
{##}
{#                                        <td>{{ diamond.table_percent |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.crown_angle |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.fluorescence_color |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.girdle |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.culet |default_if_none:"" }}</td>#}
{##}
{#                                        <td>{{ diamond.quantity |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.list_price |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.rap_discount |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.sale_price |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.status |default_if_none:"" }}</td>#}
{##}
{#                                        <td>{{ diamond.cut |default_if_none:"" }}</td>#}
{#                                        {% if diamond.certificate_filename != ' ' and diamond.certificate_filename != '' and diamond.certificate_filename != '-' and diamond.certificate_filename != None %}#}
{#                                            <td><a class="btn btn-info " style="padding: 1px;" target="_blank" href="{{ diamond.certificate_filename }}">View</a></td>#}
{#                                        {% else %}#}
{#                                            <td></td>#}
{#                                        {% endif %}#}
{#                                        {% if diamond.diamond_filename != ' ' and diamond.diamond_filename != '' and diamond.diamond_filename != '-' and diamond.diamond_filename != None %}#}
{#                                            <td><a class="btn btn-info " style="padding: 1px;" target="_blank" href="{{ diamond.diamond_filename }}">View</a></td>#}
{#                                        {% else %}#}
{#                                            <td></td>#}
{#                                        {% endif %}#}
{#                                        <td>{{ diamond.date_created |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.feed |default_if_none:"" }}</td>#}
{##}
{#                                        <td>{{ diamond.country_location |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.fancy_intensity |default_if_none:"" }}</td>#}
{#                                        <td>{{ diamond.fancy_overtone |default_if_none:"" }}</td>#}
{#                                    </tr>#}
{#                                    {% endfor %}#}
{#                                </tbody>#}
{#                                <tfoot>#}
{#                                    <tr>#}
{#                                        <th>ID</th>#}
{#                                        <th>LotID</th>#}
{#                                        <th>LotIDStr</th>#}
{#                                        <th>Shape</th>#}
{#                                        <th>Weight</th>#}
{#                                        <th>Color</th>#}
{##}
{#                                        <th>Clarity</th>#}
{#                                        <th>Lab</th>#}
{#                                        <th>Polish</th>#}
{#                                        <th>Symmetry</th>#}
{#                                        <th>Fluorescence</th>#}
{##}
{#                                        <th>CertNo</th>#}
{#                                        <th>m1</th>#}
{#                                        <th>m2</th>#}
{#                                        <th>m3</th>#}
{#                                        <th>Depth</th>#}
{##}
{#                                        <th>TablePercent</th>#}
{#                                        <th>CrownAngle</th>#}
{#                                        <th>FluorescenceColor</th>#}
{#                                        <th>Girdle</th>#}
{#                                        <th>Culet</th>#}
{##}
{#                                        <th>Quantity</th>#}
{#                                        <th>ListPrice</th>#}
{#                                        <th>RapDiscount</th>#}
{#                                        <th>SalePrice</th>#}
{#                                        <th>Status</th>#}
{##}
{#                                        <th>Cut</th>#}
{#                                        <th>Certificate Filename</th>#}
{#                                        <th>Diamond Filename</th>#}
{#                                        <th>DateCreated</th>#}
{#                                        <th>Feed</th>#}
{##}
{#                                        <th>CountryLocation</th>#}
{#                                        <th>FancyIntensity</th>#}
{#                                        <th>FancyOvertone</th>#}
{#                                    </tr>#}
{#                                </tfoot>#}
{#                            </table>#}
{#                        </div>#}
{#                    {% else %}#}
{#                        <div class="sub-title">No record found</div>#}
{#                    {% endif %}#}
{##}
{#                    <!-- pagination start -->#}
{#                    {% if diamonds.has_other_pages %}#}
{#                        <nav id="pagination" aria-label="...">#}
{#                            <ul class="pagination">#}
{#                                {% if diamonds.has_previous %}#}
{#                                    <li class="page-item">#}
{#                                        <a class="page-link" href="?page={{ diamonds.previous_page_number }}" tabindex="-1">Previous</a>#}
{#                                    </li>#}
{#                                {% else %}#}
{#                                    <li class="page-item disabled">#}
{#                                        <a class="page-link" href="#" tabindex="-1">Previous</a>#}
{#                                    </li>#}
{#                                {% endif %}#}
{##}
{#                                {% for i in diamonds.paginator.page_range %}#}
{#                                    {% if diamonds.number > 3 and forloop.first %}#}
{#                                        <li class="page-item"><a class="page-link" href="?page={{ 1 }}">1</a></li>#}
{#                                        <li class="page-item disabled"><a class="page-link" href="">⋯</a></li>#}
{#                                    {% endif %}#}
{##}
{#                                    {% if diamonds.number == i %}#}
{#                                        <li class="page-item active">#}
{#                                            <a class="page-link" href="">{{ i }} <span class="sr-only">(current)</span></a>#}
{#                                        </li>#}
{#                                    {% elif i > diamonds.number|add:'-3' and i < diamonds.number|add:'3' %}#}
{#                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>#}
{#                                    {% endif %}#}
{#                                    {% if diamonds.paginator.num_pages > diamonds.number|add:'3' and forloop.last %}#}
{#                                        <li class="page-item disabled"><a class="page-link" href="">⋯</a></li>#}
{#                                        <li class="page-item"><a class="page-link" href="?page={{ diamonds.paginator.num_pages }}">{{ diamonds.paginator.num_pages }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{##}
{#                                {% if diamonds.has_next %}#}
{#                                   <li class="page-item">#}
{#                                        <a class="page-link" href="?page={{ diamonds.next_page_number }}">Next</a>#}
{#                                   </li>#}
{#                                {% else %}#}
{#                                   <li class="page-item disabled">#}
{#                                        <a class="page-link" href="">Next</a>#}
{#                                   </li>#}
{#                                {% endif %}#}
{#                            </ul>#}
{#                        </nav>#}
{#                    {% endif %}#}
{#                    <!-- pagination end -->#}
{##}
{#                </div>#}
{#                <!-- record-loader start -->#}
{#                <div class="preloader3 loader-block" id="more-loader" style="height: 10px; display: none;">#}
{#                    <div class="circ1 loader-primary"></div>#}
{#                    <div class="circ2 loader-primary"></div>#}
{#                    <div class="circ3 loader-primary"></div>#}
{#                    <div class="circ4 loader-primary"></div>#}
{#                </div>#}
{#                <!-- record-loader end -->#}
{#            </div>#}
            <!-- multi-select-diamonds table end -->
        </div>
    </div>
</div>

{% endblock %}
