{% extends 'base.html' %}

{% block title %}Email Templates{% endblock %}

{% block content %}
    {# for AJAX messages #}
    <div id="messages"></div>

    <div class="modal fade" id="edit-template-Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Email Template</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row" style="display: none">
                        <div class="col-md-3 col-lg-3">
                            <label for="template-id" class="block">Template ID</label>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control" id="template-id" placeholder="Template ID">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3 col-lg-3">
                            <label for="template-name" class="block">Template Name</label>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control" id="template-name" placeholder="Template Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3 col-lg-3">
                            <label for="template-subject" class="block">Subject</label>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" class="form-control" id="template-subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3 col-lg-3">
                            <label for="template-language" class="block">Language</label>
                        </div>
                        <div class="col-md-9 col-lg-9">
                            <select class="form-control required" id="template-language">
                              <option value="AF">Afrikanns</option>
                              <option value="SQ">Albanian</option>
                              <option value="AR">Arabic</option>
                              <option value="HY">Armenian</option>
                              <option value="EU">Basque</option>
                              <option value="BN">Bengali</option>
                              <option value="BG">Bulgarian</option>
                              <option value="CA">Catalan</option>
                              <option value="KM">Cambodian</option>
                              <option value="ZH">Chinese (Mandarin)</option>
                              <option value="HR">Croation</option>
                              <option value="CS">Czech</option>
                              <option value="DA">Danish</option>
                              <option value="NL">Dutch</option>
                              <option value="EN" selected>English</option>
                              <option value="ET">Estonian</option>
                              <option value="FJ">Fiji</option>
                              <option value="FI">Finnish</option>
                              <option value="FR">French</option>
                              <option value="KA">Georgian</option>
                              <option value="DE">German</option>
                              <option value="EL">Greek</option>
                              <option value="GU">Gujarati</option>
                              <option value="HE">Hebrew</option>
                              <option value="HI">Hindi</option>
                              <option value="HU">Hungarian</option>
                              <option value="IS">Icelandic</option>
                              <option value="ID">Indonesian</option>
                              <option value="GA">Irish</option>
                              <option value="IT">Italian</option>
                              <option value="JA">Japanese</option>
                              <option value="JW">Javanese</option>
                              <option value="KO">Korean</option>
                              <option value="LA">Latin</option>
                              <option value="LV">Latvian</option>
                              <option value="LT">Lithuanian</option>
                              <option value="MK">Macedonian</option>
                              <option value="MS">Malay</option>
                              <option value="ML">Malayalam</option>
                              <option value="MT">Maltese</option>
                              <option value="MI">Maori</option>
                              <option value="MR">Marathi</option>
                              <option value="MN">Mongolian</option>
                              <option value="NE">Nepali</option>
                              <option value="NO">Norwegian</option>
                              <option value="FA">Persian</option>
                              <option value="PL">Polish</option>
                              <option value="PT">Portuguese</option>
                              <option value="PA">Punjabi</option>
                              <option value="QU">Quechua</option>
                              <option value="RO">Romanian</option>
                              <option value="RU">Russian</option>
                              <option value="SM">Samoan</option>
                              <option value="SR">Serbian</option>
                              <option value="SK">Slovak</option>
                              <option value="SL">Slovenian</option>
                              <option value="ES">Spanish</option>
                              <option value="SW">Swahili</option>
                              <option value="SV">Swedish </option>
                              <option value="TA">Tamil</option>
                              <option value="TT">Tatar</option>
                              <option value="TE">Telugu</option>
                              <option value="TH">Thai</option>
                              <option value="BO">Tibetan</option>
                              <option value="TO">Tonga</option>
                              <option value="TR">Turkish</option>
                              <option value="UK">Ukranian</option>
                              <option value="UR">Urdu</option>
                              <option value="UZ">Uzbek</option>
                              <option value="VI">Vietnamese</option>
                              <option value="CY">Welsh</option>
                              <option value="XH">Xhosa</option>
                            </select>
                        </div>
                    </div>

                    <textarea name="template_editor" id="template_editor" rows="10" cols="80">
                    </textarea>

{#                  <div id="template-body" style="display: none"></div>#}
{#                    <div id="template-toolbar-container"></div>#}
{#                    <!-- This container will become the editable. -->#}
{#                    <div id="template-editor" class="form-control" style="min-height: 200px;"></div>#}
                </div>
                <div class="modal-footer">
                    <a href="#" id="template-update-btn" class="btn btn-primary waves-effect waves-light" disabled="disabled">Update</a>
                    <a href="#" data-dismiss="modal" class="btn btn-default waves-effect">Cancel</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Page-header start -->
    <div class="page-header">
        <div class="row">
            <div class="col-lg-8 col-sm-6">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Email Templates</h4>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Email Templates</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">


    {#            <div class="card">#}
    {#                <div class="card-header">#}
    {#                    <h5>Filters - Coming Soon</h5>#}
    {#                    <span></span>#}
    {#                    <div class="card-header-right">#}
    {#                        <ul class="list-unstyled card-option">#}
    {#                            <li><i class="feather icon-maximize full-card"></i></li>#}
    {#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
    {#                            <li><i class="feather icon-trash-2 close-card"></i></li>#}
    {#                        </ul>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="card-block">#}
    {#                    <p></p>#}
    {#                </div>#}
    {#            </div>#}



                <div class="card">
                    <div class="card-header">
                        <h5>Email Templates</h5>
                        <span class="pull-right"></span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="feather icon-maximize full-card"></i></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-block">
                        <div class="dt-responsive table-responsive">
                            <table id="template-table-server" class="display nowrap compact table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Language</th>
                                        <th>Subject</th>
                                        <th>Creator</th>
                                        <th>Created Date</th>
                                        <th>Body</th>
    {#                                    <th>Actions</th>#}
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
