{% extends 'base.html' %}

{% block title %}Follow Ups{% endblock %}

{% block content %}

{% include "_view_edit_user.html" %}
<div id="messages">
</div>

<!-- Page-header start -->
<div class="page-header">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Follow Ups</h4>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Follow Ups</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->


<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header" onclick="$('#follow-up-block').toggle();" style="cursor: pointer">
                    <div class="col-xs-12">
                        <h5>Search Filters</h5>
{#                        <div class="sub-title">Search Filters</div>#}
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <!-- record-loader start -->
                                    <div class="preloader3 loader-block" id="follow-up-count-loader" style="height: 5em; display: none;">
                                        <div class="circ1 loader-primary"></div>
                                        <div class="circ2 loader-primary"></div>
                                        <div class="circ3 loader-primary"></div>
                                        <div class="circ4 loader-primary"></div>
                                    </div>
                                    <!-- record-loader end -->
                                </li>
    {#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <ul class="list-unstyled card-option">
                            <li>
                                <span class="m-r-0" id="interactive-follow-up-count">Please select appropriate filters!</span>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                </div>
                <div class="card-block tab-icon" style="" id="follow-up-block">
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="filter-follow-up-assignee" class="block">Assigned to</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="email-filter-ajax col-sm-12" id="filter-follow-up-assignee">
                                <option value="" selected="selected">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="filter-follow-up-type" class="block">Type</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="form-control " id="filter-follow-up-type">
                                <option value="">All</option>
                                <option value="1">Phone Call</option>
                                <option value="2">Email</option>
                                <option value="3">rr</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <label for="filter-follow-up-status" class="block">Status</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="form-control" id="filter-follow-up-status">
                                <option value="">All</option>
                                <option value="1">Open</option>
                                <option value="2">Close</option>
                                <option value="3">Close & Reschedule</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="filter-follow-up-subject" class="block">Subject</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <input id="filter-follow-up-subject" name="subject" type="text" class="form-control">
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <label for="filter-follow-up-notes" class="block">Notes</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <input class="form-control" id="filter-follow-up-notes" type="text">
                        </div>
                    </div>

{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="dept-filter">Dept</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="dept-filter">#}
{#                                <option value="" selected>All Dept</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="cu-type-filter">Customer Type</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="cu-type-filter">#}
{#                                <option value="" selected>All Types</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="u-status-filter">User Status</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="u-status-filter">#}
{#                                <option value="" selected>All Status</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="country-filter">Country</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="country-filter">#}
{#                                <option value="" selected>All Countries</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="city-filter">City</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="city-filter">#}
{#                                <option value="" selected>All Cities</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="region-state-filter">Region State</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="region-state-filter">#}
{#                                <option value="" selected>All Regions</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="close-to-city-filter">Close to City</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="close-to-city-filter">#}
{#                                <option value="" selected>All Cities</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}

                    <hr>
                    <div class="row m-l-0">
                        <button class="btn btn-primary m-r-10 custom-button-row" name="SubmitForm" id="search-follow-up">Submit Search</button>
                        <button class="btn btn-warning m-r-10 custom-button-row" name="ResetCriteria" id="reset-follow-up">Reset Filters</button>
                    </div>
                </div>
            </div>

{#            <div class="card">#}
{#                <div class="card-header" onclick="$('#summary-block').toggle();" style="cursor: pointer">#}
{#                    <div class="sub-title">Summary#}
{#                        <div class="card-header-right">#}
{#                            <span class="m-r-0" id=""></span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="card-header-right">#}
{#                        <ul class="list-unstyled card-option">#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card-block tab-icon" style="" id="summary-block">#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <span>Last Week Searches</span>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <span id="history-weekly-count">N/A</span>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <span>Last Month Searches</span>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <span id="history-monthly-count">N/A</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <span>Total Searches</span>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <span id="history-total-count">N/A</span>#}
{#                        </div>#}
{##}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <span>Total Sales</span>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <span id="history-total-sales">N/A</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="card">
                <div class="card-header">
                    <h5>Follow Ups</h5>
                    <span class="pull-right"></span>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table id="follow-up-table-server" class="display nowrap compact table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Type</th>
                                    <th>Customer</th>
                                    <th>Email</th>
                                    <th>Date Created</th>
                                    <th>Subject</th>
                                    <th>Date Reminder</th>
                                    <th title="Notes">Notes</th>
                                    <th title="Impressions">Impressions</th>
                                    <th title="Commands">Commands</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
