{#{% extends 'base.html' %}#}
{#{% block title %}{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div id="messages">#}
{#    </div>#}
{#    <div class="page-body">#}
{#        <div class="card">#}
{#            <div class="card-block">#}
{#                {% include "_gallery.html" %}#}
{#                <input type="text" id="image_url" style="" value="" title="URL of the image">#}
{#                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}



{# Optomized version#}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Diamonds | Public Gallery</title>
        <!-- Favicon icon -->
        <link rel="icon" href="https://via.placeholder.com/20?text=ATQ" type="image/x-icon">
        <!-- Required Framework -->
        <link rel="stylesheet" type="text/css" href="{% static 'shared_static/bower_components/bootstrap/css/bootstrap.min.css' %}">
        <!-- font awesome -->
        <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/icon/font-awesome/css/font-awesome.min.css' %}">
        <!-- hover-effect.css -->
        <link rel="stylesheet" type="text/css" href="{% static 'shared_static/custom/responsive_image_grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/hover-effect/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shared_static/assets/pages/hover-effect/set2.css' %}">

    </head>

    <body bgcolor="#ffffff" style="margin: 20px 40px;">
        <h2>Diamonds | Gallery</h2>
        <hr>
        <div id="messages">
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-public" role="tab">Public Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab-private" role="tab">Private Gallery</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="tab-public" role="tabpanel">
                {% include "_gallery.html" %}
            </div>
            <div class="tab-pane active" id="tab-private" role="tabpanel">
                {% include "_gallery.html" %}

            </div>
        </div>

{#        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>#}
        <hr>

        <script type="text/javascript" src="{% static 'shared_static/bower_components/jquery/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shared_static/bower_components/popper.js/js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shared_static/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shared_static/custom/gallery.js' %}"></script>


    </body>
</html>
