{% extends 'base.html' %}

{% block title %}History{% endblock %}

{% block content %}
<div id="messages">
</div>

<!-- Page-header start -->
<div class="page-header">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>History</h4>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">History</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            {% include "_view_edit_user.html" %}

            <div class="card">
                <div class="card-header" onclick="$('#search-block').toggle();" style="cursor: pointer">
                    <div class="col-xs-12">
                        <h5>Search Filters</h5>
{#                        <div class="sub-title">Search Filters</div>#}
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <!-- record-loader start -->
                                    <div class="preloader3 loader-block" id="user-count-loader" style="height: 5em; display: none;">
                                        <div class="circ1 loader-primary"></div>
                                        <div class="circ2 loader-primary"></div>
                                        <div class="circ3 loader-primary"></div>
                                        <div class="circ4 loader-primary"></div>
                                    </div>
                                    <!-- record-loader end -->
                                </li>
    {#                            <li><i class="feather icon-minus minimize-card"></i></li>#}
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <ul class="list-unstyled card-option">
                            <li>
                                <span class="m-r-0" id="interactive-user-count">Please select appropriate filters!</span>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                </div>
                <div class="card-block tab-icon" style="" id="search-block">
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="history-email-filter">Email</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <select class="email-filter-ajax col-sm-12" id="history-email-filter">
                                <option value="" selected="selected">All Email</option>
                            </select>
                        </div>

{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="sales-person-filter">Sales Person</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="sales-person-filter">#}
{#                                <option value="" selected>All Sales Person</option>#}
{#                            </select>#}
{#                        </div>#}
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2 col-lg-2">
                            <label for="from_date" class="block">From Date</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <input id="from_date" name="from_date" type="date" class="form-control date-control">
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <label for="to_date" class="block">To Date</label>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <input id="to_date" name="to_date" type="date" class="form-control date-control">
                        </div>
                    </div>

{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="dept-filter">Dept</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="dept-filter">#}
{#                                <option value="" selected>All Dept</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="cu-type-filter">Customer Type</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="cu-type-filter">#}
{#                                <option value="" selected>All Types</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="u-status-filter">User Status</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="u-status-filter">#}
{#                                <option value="" selected>All Status</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="country-filter">Country</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="country-filter">#}
{#                                <option value="" selected>All Countries</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="city-filter">City</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="city-filter">#}
{#                                <option value="" selected>All Cities</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="region-state-filter">Region State</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="region-state-filter">#}
{#                                <option value="" selected>All Regions</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="form-group row">#}
{#                        <div class="col-md-2 col-lg-2">#}
{#                            <label for="close-to-city-filter">Close to City</label>#}
{#                        </div>#}
{#                        <div class="col-md-4 col-lg-4">#}
{#                            <select class="js-example-basic-single" id="close-to-city-filter">#}
{#                                <option value="" selected>All Cities</option>#}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}

                    <hr>
                    <div class="row m-l-0">
                        <button class="btn btn-primary m-r-10 custom-button-row" name="SubmitForm" id="search-activities">Submit Search</button>
                        <button class="btn btn-warning m-r-10 custom-button-row" name="ResetCriteria" id="reset-activities">Reset Filters</button>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" onclick="$('#summary-block').toggle();" style="cursor: pointer">
                    <div class="sub-title">Summary
                        <div class="card-header-right">
                            <span class="m-r-0" id=""></span>
                        </div>
                    </div>

                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                        </ul>
                    </div>
                </div>
                <div class="card-block tab-icon" style="" id="summary-block">
                    <div class="form-group row">
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <span>Last Week Searches</span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                            <span id="history-weekly-count">N/A</span>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                            <span>Last Month Searches</span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                            <span id="history-monthly-count">N/A</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4 col-lg-4">
                            <span>Total Searches</span>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <span id="history-total-count">N/A</span>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <span>Total Sales</span>
                        </div>
                        <div class="col-md-2 col-lg-2">
                            <span id="history-total-sales">N/A</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5>Activities</h5>
                    <span class="pull-right"></span>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table id="history-table-server" class="display nowrap compact table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Last Login</th>
                                    <th>Company</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Search Time</th>

                                    <th>Parameters</th>
                                    <th title="Advanced Parameters">Advanced Params</th>
                                    <th title="Search Source">Search Source</th>
                                    <th title="Number of Stones">Results</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
{#                            <tfoot>#}
{#                                <tr>#}
{#                                    <th>ID</th>#}
{#                                    <th>Last Login</th>#}
{#                                    <th>Company</th>#}
{#                                    <th>Customer</th>#}
{#                                    <th>Email</th>#}
{#                                    <th>Search Time</th>#}

{#                                    <th>Parameters</th>#}
{#                                    <th>Advanced Parameters</th>#}
{#                                    <th>Search Source</th>#}
{#                                    <th>Total Results</th>#}
{#                                    <th>Actions</th>#}
{#                                </tr>#}
{#                            </tfoot>#}
                        </table>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

{% endblock %}
