{% extends 'base_emails.html' %}
{% block title %}Inbox{% endblock %}

{% block page_header %}Inbox{% endblock %}
{% block page_desc %}Inbox{% endblock %}
{% block card_header %}Inbox{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a href="#">Inbox</a> </li>
{% endblock %}

{% block mail_content %}
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="e-inbox" role="tabpanel">

            <div class="mail-body">
                <div class="mail-body-header">
{#                    <button type="button" class="btn btn-primary btn-xs waves-effect waves-light"  id="spam-button" disabled onclick="spam_threads()" title="Report Spam">#}
{#                          <i class="icofont icofont-exclamation-circle"></i>#}
{#                      </button>#}
                    <button type="button" class="btn btn-success btn-xs waves-effect waves-light" id="archive-button" disabled onclick="archive_threads()" title="Archive">
                          <i class="icofont icofont-archive"></i>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs waves-effect waves-light" id="trash-button" disabled onclick="trash_threads()" title="Delete">
                          <i class="icofont icofont-ui-delete"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-xs waves-effect waves-light" id="unread-button" disabled onclick="mark_unread_threads()" title="Mark as unread">
                          <i class="fa fa-envelope"></i>
                    </button>
                    <button type="button" class="btn btn-info btn-xs waves-effect waves-light" id="read-button" disabled onclick="mark_read_threads()" title="Mark as read">
                          <i class="icofont icofont-envelope-open"></i>
                    </button>
                    <div class="btn-group dropdown-split-primary" hidden>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="move-to-button" title="Move to" disabled>
                              <i class="icofont icofont-ui-folder"></i>
                        </button>
                        <div class="dropdown-menu" id="move-to-labels">
                            <a class="nav-link active" href="#" onclick="filter_messages('INBOX')">
                                <i class="icofont icofont-inbox"></i> Inbox
                            </a>
                            <a class="nav-link" href="#" onclick="filter_messages('SENT')">
                                <i class="icofont icofont-paper-plane"></i> Sent
                            </a>
                            <a class="nav-link" href="#" onclick="filter_messages('DRAFT')">
                                <i class="icofont icofont-file-text"></i> Drafts
                            </a>
                            <a class="nav-link" href="#" onclick="filter_messages('SPAM')">
                                <i class="icofont icofont-exclamation-circle"></i> Spam
                            </a>
                            <a class="nav-link" href="#" onclick="filter_messages('TRASH')">
                                <i class="icofont icofont-ui-delete"></i> Trash
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="nav-link" href="#" onclick="filter_messages('STARRED')">
                                <i class="icofont icofont-star"></i> Starred
                            </a>
                        </div>
                    </div>
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              More#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
                </div>

                <div class="mail-body-content" id="mails-listing">
                    <div class="table-responsive">
                        <table class="table" id="inbox">
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                                                  <input type="checkbox" value="">#}
{#                                                  <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                                              </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-warning"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Google Inc</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">08:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">John Doe</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Coming Up Next Week</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">13:02 PM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-info"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Sara Soudein</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SVG new updates comes for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">00:05 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Rinky Behl</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Photoshop updates are available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">10:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-warning"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Google Inc</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">08:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">John Doe</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Coming Up Next Week</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">13:02 PM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-info"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Sara Soudein</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SVG new updates comes for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">00:05 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Rinky Behl</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Photoshop updates are available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">10:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
                        </table>

                        <!-- record-loader start -->
                        <div class="preloader3 loader-block" id="gmail-messages-loader" style="height: 5em; display: none;">
                            <div class="circ1 loader-primary"></div>
                            <div class="circ2 loader-primary"></div>
                            <div class="circ3 loader-primary"></div>
                            <div class="circ4 loader-primary"></div>
                        </div>
                        <!-- record-loader end -->

                        <div class="preloader3 loader-block" id="gmail-messages-none" style="height: 5em; display: none;">
                            <p>There are no conversations with this label.</p>
                        </div>

                    </div>
                    <input id="load-more-button" type="button" onclick="load_more_threads()" value="Load More" class="btn btn-default" style="width: 100%; display: none;">
                </div>

                <div class="mail-body-content email-read" id="thread-read" style="display: none">
                </div>

            </div>
        </div>
{#        <div class="tab-pane fade" id="e-starred" role="tabpanel">#}
{#            <div class="mail-body">#}
{#                <div class="mail-body-header">#}
{#                    <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">#}
{#                          <i class="icofont icofont-star"></i>#}
{#                      </button>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              <i class="icofont icofont-ui-folder"></i>#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              More#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="mail-body-content">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table">#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-warning"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Google Inc</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">08:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">John Doe</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Coming Up Next Week</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">13:02 PM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-info"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Sara Soudein</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SVG new updates comes for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">00:05 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Rinky Behl</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Photoshop updates are available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">10:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="tab-pane fade" id="e-drafts" role="tabpanel">#}
{##}
{#            <div class="mail-body">#}
{#                <div class="mail-body-header">#}
{#                    <button type="button" class="btn btn-success btn-xs waves-effect waves-light">#}
{#                          <i class="icofont icofont-inbox"></i>#}
{#                      </button>#}
{#                    <button type="button" class="btn btn-danger btn-xs waves-effect waves-light">#}
{#                          <i class="icofont icofont-ui-delete"></i>#}
{#                      </button>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              <i class="icofont icofont-ui-folder"></i>#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              More#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="mail-body-content">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table">#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                                                  <input type="checkbox" value="">#}
{#                                                  <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                                              </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-warning"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Google Inc</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">08:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">John Doe</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Coming Up Next Week</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">13:02 PM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-info"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Sara Soudein</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SVG new updates comes for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">00:05 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Rinky Behl</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Photoshop updates are available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">10:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="tab-pane fade" id="e-sent" role="tabpanel">#}
{##}
{#            <div class="mail-body">#}
{#                <div class="mail-body-header">#}
{#                    <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">#}
{#                          <i class="icofont icofont-exclamation-circle"></i>#}
{#                      </button>#}
{#                    <button type="button" class="btn btn-danger btn-xs waves-effect waves-light">#}
{#                          <i class="icofont icofont-ui-delete"></i>#}
{#                      </button>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              <i class="icofont icofont-ui-folder"></i>#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              More#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="mail-body-content">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table">#}
{##}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-warning"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Google Inc</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">08:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">John Doe</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Coming Up Next Week</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">13:02 PM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-info"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Sara Soudein</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SVG new updates comes for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">00:05 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Rinky Behl</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Photoshop updates are available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">10:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="tab-pane fade" id="e-trash" role="tabpanel">#}
{##}
{#            <div class="mail-body">#}
{#                <div class="mail-body-header">#}
{#                    <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">#}
{#                          <i class="icofont icofont-exclamation-circle"></i>#}
{#                      </button>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              <i class="icofont icofont-ui-folder"></i>#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="btn-group dropdown-split-primary">#}
{#                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                              More#}
{#                          </button>#}
{#                        <div class="dropdown-menu">#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>#}
{#                            <div class="dropdown-divider"></div>#}
{#                            <a class="dropdown-item waves-effect waves-light" href="#">Separated link</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="mail-body-content">#}
{#                    <div class="table-responsive">#}
{#                        <table class="table">#}
{##}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Rinky Behl</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Photoshop updates are available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">10:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Harry John</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">New upcoming data available</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">11:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-danger"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Hanry Joseph</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">SCSS current working for new updates</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">12:01 PM</td>#}
{#                            </tr>#}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-warning"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Google Inc</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">08:01 AM</td>#}
{#                            </tr>#}
{#                            <tr class="unread">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">John Doe</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Coming Up Next Week</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">13:02 PM</td>#}
{#                            </tr>#}
{##}
{#                            <tr class="read">#}
{#                                <td>#}
{#                                    <div class="check-star">#}
{#                                        <div class="checkbox-fade fade-in-primary checkbox">#}
{#                                            <label>#}
{#                          <input type="checkbox" value="">#}
{#                          <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>#}
{#                      </label>#}
{#                                        </div>#}
{#                                        <i class="icofont icofont-star text-primary"></i>#}
{#                                    </div>#}
{#                                </td>#}
{#                                <td><a href="email-read.html" class="email-name">Liu Koi Yan</a></td>#}
{#                                <td><a href="email-read.html" class="email-name">Charts waiting for you</a></td>#}
{#                                <td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
{#                                <td class="email-time">07:15 AM</td>#}
{#                            </tr>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>

{% endblock %}
