{% extends 'base_users.html' %}
{% block title %}Sales Managers{% endblock %}

{% block page_header %}all sales managers{% endblock %}
{% block page_desc %}list of all the sales managers{% endblock %}

{% block card_header %}Sales Managers{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'sales_managers' %}">Sales Managers</a> </li>
{% endblock %}

