{% extends 'base_users.html' %}
{% block title %}Sales Persons{% endblock %}

{% block page_header %}all sales persons{% endblock %}
{% block page_desc %}list of all the sales person{% endblock %}

{% block card_header %}Sales Persons{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
    </li>
    <li class="breadcrumb-item"><a href="{% url 'sales_persons' %}">Sales Persons</a> </li>
{% endblock %}

