{% extends 'base.html' %}
{% load static %}

{% block title %}Vendors{% endblock %}

{% block content %}

<!-- Page-header start -->
<div class="page-header">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Vendors</h4>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'vendors' %}">Vendors</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Manual upload card start -->
            <div class="card">
                <div class="card-header" onclick="$('#manual-block').toggle();" style="cursor: pointer">
                    <h5>Manual Upload</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
{#                            <li><i class="feather icon-plus minimize-card"></i></li>#}
                        </ul>
                    </div>
                </div>
                <div class="card-block" style="display: none;" id="manual-block">
                    <div class=""><b>Note:</b> You don’t need to upload all the files in same time
                        <span class="mytooltip tooltip-effect-2">
                            <span class="tooltip-item">Because</span>
                            <span class="tooltip-content clearfix">
{#                              <img src="{% static 'shared_static/assets/images/tooltip/Euclid.png' %}" alt="Ecluid.png">#}
                              <span class="tooltip-text f-10 m-l-20">When uploading a new vendor file that will automatically append to the SDE file after click on generate. When uploading a vendor file that is already on the SDE file , that will replace it by the new file after click on generate.</span>
                            </span>
                        </span>
                    </div>
                    <hr>
                    <input type="file"  accept=".csv" name="files[]" id="filer_input1" multiple="multiple" {{ csrf_token }}>
                </div>
            </div>
            <!-- Manual upload card end -->

            <!-- Fetching card start -->
            <div class="card">
                <div class="card-header" onclick="$('#api-block').toggle();" style="cursor: pointer">
                    <h5>Fetch Using APIs & FTP</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
{#                            <li><i class="feather icon-plus minimize-card"></i></li>#}
                        </ul>
                    </div>
                </div>
                <div class="card-block" style="display: none;" id="api-block">
                    <div class="sub-title">Please fetch the vendor CSV files</div>
                    <div class="row">
                        <a class="btn btn-grd-info custom-button-row m-l-15 m-10" href="{% url 'fetch_rap' %}">Fetch RAPNETFEED</a>
                        <a class="btn btn-grd-info custom-button-row m-10" href="{% url 'fetch_kiran' %}">Fetch KIRAN</a>
                        <a class="btn btn-grd-info custom-button-row m-10" href="{% url 'fetch_srk' %}">Fetch SRK</a>
                        <a class="btn btn-grd-info custom-button-row m-10" href="{% url 'copy_niru_ftp' %}">Copy NIRU</a>
                    </div>
                    <div class="row">
                        <a class="btn btn-grd-success custom-button-row m-l-15 m-10" href="{% url 'dwn_rap' %}">Download RAPNETFEED</a>
                        <a class="btn btn-grd-success custom-button-row m-10" href="{% url 'dwn_kiran' %}">Download KIRAN</a>
                        <a class="btn btn-grd-success custom-button-row m-10" href="{% url 'dwn_srk' %}">Download SRK</a>
                        <a class="btn btn-grd-success custom-button-row m-10" href="{% url 'dwn_niru' %}">Download NIRU</a>
                    </div>
                </div>
            </div>
            <!-- Fetching card end -->

            <!-- Control card start -->
            <div class="card">
                <div class="card-header" onclick="$('#control-block').toggle();" style="cursor: pointer">
                    <h5>Control Panel</h5>
                    <span class="text-muted pull-right">Server Time: {% now "jS F Y h:i A" %}</span>

{#                            {% load tz %}#}
{#                            {% timezone "Europe/Paris" %}#}
{#                                Paris time: {{ object.date }}#}
{#                            {% endtimezone %}#}

                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
{#                            <li><i class="feather icon-plus minimize-card"></i></li>#}
                        </ul>
                    </div>
                </div>
                <div class="card-block" id="control-block">
                    <div class="row">
                        <div class="col-sm-12 col-xl-4 m-b-30">
                            <h4 class="sub-title">New Schedule</h4>
                            <p>There should be <code>20-30 minutes</code> gap between each schedule.</p>
                            <form action="{% url 'add_schedule' %}" method="post">
                            {% csrf_token %}
                                <input class="form-control" type="time" title="" name="time"/>
                                <button class="btn btn-info m-t-15" type="submit">Add Time</button>
                            </form>
                        </div>
                        <div class="col-sm-12 col-xl-4">
                            <h6 class="sub-title">Current Schedules</h6>
                            <ul class="basic-list">
                                {% if schedules %}
                                    {% for schedule in schedules %}
                                        <li class="">
                                            <h6>{{ schedule.schedule_time | time:"h:i A"  }}
                                                {% if schedule.status == 'running' %}
                                                    <span class="text-muted">...{{ schedule.status }}</span>
                                                {% endif %}
                                                <a class="btn btn-warning pull-right" style="padding: 0 2px 2px 2px; margin-top: -3px;" href="{% url 'delete_schedule' schedule.pk %}">Remove</a>
                                            </h6>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="">
                                        <h6>Nothing scheduled so far!</h6>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-sm-12 col-xl-4">
                            <h6 class="sub-title">Unprocessed Files ({{ files|length }})
                                <a class="btn btn-warning pull-right" style="padding: 0 2px 2px 2px; margin-top: -3px;" href="{% url 'clear_all' %}">CLEAR ALL</a>
                            </h6>
                            <ul class="basic-list">
                                {% if files %}
                                    {% for file in files %}
                                        <li class="">
                                            <h6>{{ file }}</h6>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="">
                                        <h6>No Pending File!</h6>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
{#                    <div class="col-sm-12 col-xl-4 m-b-30">#}
{#                            <h4 class="sub-title">Time Picker</h4>#}
{#                            <p>Add type<code>&lt;input type="week"&gt;</code></p>#}
{#                            <div class="form-group">#}
{#                                <div class='input-group date' id='datetimepicker3'>#}
{#                                    <input type='text' class="form-control" />#}
{#                                    <span class="input-group-addon ">#}
{#                                       <span class="icofont icofont-clock-time"></span>#}
{#                                    </span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <hr>
                    <div class="row">
                        <a class="btn btn-grd-danger custom-button-row m-10" href="{% url 'reset_table' %}">Reset DB</a>
                        <a class="btn btn-grd-warning custom-button-row m-l-15 m-10" href="{% url 'process_vendor_files' %}">Process Vendor Files</a>
    {#                    <a class="btn btn-grd-success" href="/media/CSV_Files/Results/SDE.csv">Download SDE CSV</a>#}
                        <a class="btn btn-grd-success custom-button-row m-10" href="{% url 'export_sde_csv' %}">Download SDE CSV</a>
                        <a class="btn btn-grd-info custom-button-row m-10" href="{% url 'send_via_ftp' %}">Send to Harmony</a>
                        <a class="btn btn-grd-info custom-button-row m-10" href="{% url 'clear_console' %}">Clear Console</a>
                    </div>
                </div>
            </div>
            <!-- Control card end -->

            <!-- Console table card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Console Logs</h5>
                    <span>Server Logs for the <code>last run</code></span>

                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-inverse">
                            <thead>
                                <tr>
                                    <th>Date & Time</th>
                                    <th>Vendor</th>
                                    <th>Event</th>
                                    <th>Status</th>
                                    <th>Description</th>
{#                                    <th>Type</th>#}
                                    <th>Tech. Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if logs %}
                                    {% for log in logs %}
                                        <tr>
                                            <td>{{ log.date_time | date:"M d, "  }} {{ log.date_time | time:"h:i A"  }}</td>
                                            <td>{{ log.vendor  |default_if_none:"" }}</td>
                                            <td>{{ log.event  |default_if_none:"" }}</td>
                                            <td>{{ log.status  |default_if_none:"" }}</td>
                                            <td>{{ log.description  |default_if_none:"" }}</td>
{#                                            <td>{{ log.type  |default_if_none:"" }}</td>#}
                                            <td>{{ log.tech_description  |default_if_none:"" }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr><td>Nothing logged so far!</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Inverse table card end -->
        </div>
    </div>
</div>

{% endblock %}
